@model HRHUBAPI.Models.VInfoStaff

@{
	ViewData["Title"] = "StaffProfile";
}

<style>
	.child-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.custom-progress-bar {
		border-radius: 16px;
		height: 0.6rem;
	}

	.stats-chart {
		transition: 0.4s;
		cursor: pointer;
	}

	.stats-chart-active {
		background: #fff;
		padding: 10px 5px;
		border-radius: 21px;
		box-shadow: 0px 0px 14px -7px;
		position: relative;
		overflow: hidden;
	}

	.stats-chart-active #chart-circle-primary-title {
		border-bottom: 3px solid #3366ff;
	}

	.stats-chart-active #chart-circle-success-title {
		border-bottom: 3px solid #0dcd94;
	}

	.stats-chart-inactive {
		opacity: 0.7;
	}

	.dark-mode .stats-chart-active {
		background: #262b5a;
		box-shadow: 0px 0px 12px -7px;
	}

</style>

@await Component.InvokeAsync("StaffCard", new { id = Model.StaffId })
<div class="row">
	<input type="hidden" id="staff_ID" value="@Model.StaffId" />
	<div class="col-sm-6 col-lg-3 col-xl-4">
		<div class="card">
			<div class="card-header align-items-center py-3">
				<h4 class="card-title">Recent Activity</h4>
				<div class="card-options col-md-7">
					<div class="form-group m-0">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<i class="feather feather-calendar"></i>
								</div>
							</div><input id="activityDate" class="form-control fc-datepicker" type="text">
						</div>
					</div>
				</div>
			</div>
			<div class="card-body pt-0">
				<ul id="CardActivity" class="timeline">

					<li>
						<a target="_blank" href="javascript:void(0);" class="font-weight-semibold fs-15 ms-3">Leave Approval Request</a>
						<a href="javascript:void(0);" class="text-muted float-end fs-13">6 min ago</a>
						<p class="mb-0 pb-0 text-muted pt-1 fs-11 ms-3">From "RuthDyer" UiDesign Leave</p>
						<span class="text-muted  ms-3 fs-11"> On Monday 12 Jan 2020.</span>
					</li>
					<li class="primary">
						<a target="_blank" href="javascript:void(0);" class="font-weight-semibold fs-15 mb-2 ms-3">Wok Update</a>
						<a href="javascript:void(0);" class="text-muted float-end fs-13">10 min ago</a>
						<p class="mb-0 pb-0 text-muted fs-11 pt-1 ms-3">From "Robert Marshall" Developer</p>
						<span class="text-muted ms-3 fs-11">Task Completed.</span>
					</li>
					<li class="pink">
						<a target="_blank" href="javascript:void(0);" class="font-weight-semibold fs-15 mb-2 ms-3">Received Mail</a>
						<a href="javascript:void(0);" class="text-muted float-end fs-13">15 min ago</a>
						<p class="mb-0 pb-0 text-muted fs-11 pt-1 ms-3">Emergency Sick Leave from "jacob Berry"</p>
						<span class="text-muted ms-3 fs-11">Ui Designer, Designer Team.</span>
					</li>
					<li class="success mb-0 pb-0">
						<a target="_blank" href="javascript:void(0);" class="font-weight-semibold fs-15 mb-2 ms-3">Job Application Mail</a>
						<a href="javascript:void(0);" class="text-muted float-end fs-13">1 Hour ago</a>
						<p class="mb-0 pb-0 text-muted fs-11 pt-1 ms-3">From jobmail@gmail.com laravel developer.</p>
					</li>

				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-lg-8 col-xl-8">
		<div class="card">
			<div class="card-header d-flex justify-content-between align-items-center border-bottom-0">
				<h4 class="card-title">Staff Details</h4>
				<div class="card-options">
					<a href="" class="me-0 option-dots text-default" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="feather feather-more-vertical"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-end" role="menu">
						<li><a href="javascript:void(0);"><i class="fa fa-sign-out me-2"></i>Apply for resignation</a></li>
						<li><a href="javascript:void(0);"><i class="fa fa-money me-2"></i>Apply for loan</a></li>
						<li><a href="javascript:void(0);"><i class="fa fa-sign-out me-2"></i>Apply for leave</a></li>
					</ul>
				</div>
			</div>
			<div class="tab-menu-heading table_tabs mt-2 p-0 ">
				<div class="tabs-menu1">
					<!-- Tabs -->
					<ul class="nav panel-tabs">
						<li><a href="#tab1" data-bs-toggle="tab" class="active"> <i class="fa fa-clock-o me-2" aria-hidden="true"></i> Attendance</a></li>
						<li><a href="#tab2" data-bs-toggle="tab"><i class="fa fa-tasks me-2"></i>Loan</a></li>
						<li><a href="#tab3" data-bs-toggle="tab"> <i class="fa fa-sign-out me-2"></i>Leaves</a></li>
						<li><a href="#tab4" data-bs-toggle="tab"> <i class="fa fa-plus-square me-2 " aria-hidden="true"></i> Benifits</a></li>
						<li><a href="#tab5" data-bs-toggle="tab"> <i class="fa fa-money me-2" aria-hidden="true"></i>Salary</a></li>
					</ul>
				</div>
			</div>
			<div class="panel-body tabs-menu-body table_tabs1 p-0 border-0">
				<div class="tab-content">
					<div class="tab-pane active" id="tab1">
						<div class="table-responsive">
							<div class="table-wrapper" style="display:block; overflow-y:auto; width:100%; height:390px;">
								<table class="table card-table table-hover table-vcenter table-sm text-nowrap dataTable no-footer">
									<thead style="border-bottom: 1px solid #0000004a;" class="sticky-thead">
										<tr>
											<th class="border-bottom-0">Date</th>
											<th class="border-bottom-0">Status</th>
											<th class="border-bottom-0">Clock-In</th>
											<th class="border-bottom-0">Clock-Out</th>
											<th class="border-bottom-0">Progress</th>
											<th class="border-bottom-0">Hours</th>
										</tr>
									</thead>
									<tbody id="TblBodyAttendance">

									</tbody>	
								</table>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab2">
						<div class="table-responsive">
							<table class="table card-table table-hover table-vcenter table-sm text-nowrap dataTable no-footer" id="empAttendance">
								<thead style="border-bottom: 1px solid #0000004a;">
									<tr>
										<th class="border-bottom-0 text-center">Sr.#</th>
										<th class="border-bottom-0">Applied On</th>
										<th class="border-bottom-0">Loan</th>
										<th class="border-bottom-0">Installment</th>
										<th class="border-bottom-0">Per Month</th>
										<th class="border-bottom-0">Payment</th>
										<th class="border-bottom-0">Status</th>
									</tr>
								</thead>
								<tbody id="TblBodyLoan">

								</tbody>
							</table>
						</div>
					</div>
					<div class="tab-pane" id="tab3">
						<div class="table-responsive">
							<table class="table card-table table-hover table-vcenter table-sm text-nowrap dataTable no-footer" id="emp-leaves">
								<thead style="border-bottom: 1px solid #0000004a;">
									<tr>
										<th class="border-bottom-0 text-center">#ID</th>
										<th class="border-bottom-0">Leave Type</th>
										<th class="border-bottom-0">Days</th>
										<th class="border-bottom-0">Reason</th>
										<th class="border-bottom-0">Applied On</th>
										<th class="border-bottom-0">Status</th>
									</tr>
								</thead>
								<tbody id="TblBodyLeave">

								</tbody>
							</table>
						</div>
					</div>
					<div class="tab-pane" id="tab4">
						<div class="table-responsive">
							<table class="table card-table table-hover table-vcenter table-sm text-nowrap dataTable no-footer" id="emp-leaves">
								<thead style="border-bottom: 1px solid #0000004a;">
									<tr>
										<th class="border-bottom-0 text-center">Sr#</th>
										<th class="border-bottom-0">Benifits</th>
										<th class="border-bottom-0">Staff Count</th>
										<th class="border-bottom-0">Status</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-center">1</td>
										<td>Demo</td>
										<td class="font-weight-semibold">0</td>
										<td>
											<span class="badge badge-success">Active</span>
										</td>
									</tr>
									<tr>
										<td class="text-center">1</td>
										<td>Demo</td>
										<td class="font-weight-semibold">0</td>
										<td>
											<span class="badge badge-success">Active</span>
										</td>
									</tr>
									<tr>
										<td class="text-center">1</td>
										<td>Demo</td>
										<td class="font-weight-semibold">0</td>
										<td>
											<span class="badge badge-success">Active</span>
										</td>
									</tr>
									<tr>
										<td class="text-center">1</td>
										<td>Demo</td>
										<td class="font-weight-semibold">0</td>
										<td>
											<span class="badge badge-success">Active</span>
										</td>
									</tr>
									<tr>
										<td class="text-center">1</td>
										<td>Demo</td>
										<td class="font-weight-semibold">0</td>
										<td>
											<span class="badge badge-success">Active</span>
										</td>
									</tr>
									<tr>
										<td class="text-center">1</td>
										<td>Demo</td>
										<td class="font-weight-semibold">0</td>
										<td>
											<span class="badge badge-success">Active</span>
										</td>
									</tr>
									<tr>
										<td class="text-center">1</td>
										<td>Demo</td>
										<td class="font-weight-semibold">0</td>
										<td>
											<span class="badge badge-success">Active</span>
										</td>
									</tr>
									<tr>
										<td class="text-center">1</td>
										<td>Demo</td>
										<td class="font-weight-semibold">0</td>
										<td>
											<span class="badge badge-success">Active</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="tab-pane" id="tab5">
						<div class="table-responsive">
							<table class="table card-table table-hover table-vcenter table-sm text-nowrap dataTable no-footer" id="emp-leaves">
								<thead style="border-bottom: 1px solid #0000004a;">
									<tr>
										<th class="border-bottom-0">Sr.#</th>
										<th class="border-bottom-0">Month-Year</th>
										<th class="border-bottom-0">Earning</th>
										<th class="border-bottom-0">Deduction</th>
										<th class="border-bottom-0">Net Salary</th>
										<th class="border-bottom-0">Status</th>
									</tr>
								</thead>
								<tbody id="TblBodySalary">

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-lg-3 col-xl-4">
		<div class="card" >
			<div class="card-header">
				<div class="card-title">Statistics-2023</div>
				<div class="card-options col-md-6">
					<select id="DatePerformance" class=" form-control custom-select select2">
						<option value="2023">2023</option>
						<option value="2024">2024</option>
						<option value="2025">2025</option>
					</select>
				</div>
			</div>
			<div class="card-body">
				<div class="row mb-5 justify-content-center">
					<div id="StatisticsAttendanceChart" class="col-4 text-center stats-chart stats-chart-active">
						
						<div class="chart-circle chart-circle-sm" data-value="0.89" data-thickness="5" data-color="#3366ff">
							<canvas width="64" height="64"></canvas>
							<div class="chart-circle-value text-primary">89</div>
						</div>
						
						<h6 id="chart-circle-primary-title" class="fs-14 py-1 chart-circle-title chart-circle-title-active position-relative d-inline-block font-weight-semibold mt-3">Attendance</h6>
					</div>
					<div id="StatisticsPerformanceChart" class="col-4 text-center stats-chart stats-chart-inactive">
						<div class="chart-circle chart-circle-sm" data-value="0.67" data-thickness="5" data-color="#0dcd94">
							<canvas width="64" height="64"></canvas>
							<div class="chart-circle-value text-success">67%</div>
						</div>
						<h6 id="chart-circle-success-title" class="fs-14 py-1 chart-circle-title position-relative d-inline-block font-weight-semibold mt-3">Performance</h6>
					</div>
				</div>
				<div id="CardPerformance">

				</div>
			</div>
		</div>
		
	</div>
	<div class="col-sm-6 col-lg-3 col-xl-4">
		<div class="card border p-0 shadow-none" style="height:400px;">
			<div class="card-header">
				<div class="card-title">Academia</div>
			</div>
			<div class="card-body">
				<div class="main-profile-contact-list">
					<div class="media me-5 mt-0">
						<div class="media-icon child-center bg-success text-white me-4">
							<i class="fa fa-whatsapp"></i>
						</div>
						<div class="media-body">
							<h6 class="font-weight-semibold mb-1">Web Designer at <a href="" class="btn-link">Spruko</a></h6>
							<span>2018 - present</span>
							<p>Past Work: Spruko, Inc.</p>
						</div>
					</div>

					<div class="media me-5">
						<div class="media-icon child-center bg-danger text-white me-4">
							<i class="fa fa-briefcase"></i>
						</div>
						<div class="media-body">
							<h6 class="font-weight-semibold mb-1">Studied at <a href="" class="btn-link">University</a></h6>
							<span>2004-2008</span>
							<p>Graduation: Bachelor of Science in Computer Science</p>
						</div>
					</div><div class="media me-5">
						<div class="media-icon child-center bg-danger text-white me-4">
							<i class="fa fa-briefcase"></i>
						</div>
						<div class="media-body">
							<h6 class="font-weight-semibold mb-1">Studied at <a href="" class="btn-link">University</a></h6>
							<span>2004-2008</span>
							<p>Graduation: Bachelor of Science in Computer Science</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
	<script>
		
		$(document).ready(function() {
			$('#myonoffswitch2').prop('checked', true)
			localStorage.setItem('dayonedarkMode', true)
			localStorage.removeItem('dayonelightMode')
			localStorage.removeItem('dayonetransparentMode')

			$('#DatePerformance').select2()

			$('.stats-chart').click(function () {
				$('.stats-chart').removeClass('stats-chart-active').addClass('stats-chart-inactive')
				$(this).addClass('stats-chart-active').removeClass('stats-chart-inactive')
			});

			var currentDate = new Date()
			$('#activityDate').val('@DateTime.Now.ToString("dd-MMM-yyyy")')
			$('#activityDate').change(function () {
				loadStaffActivity(staff_ID)
            });
			
			var staff_ID = $("#staff_ID").val()
			LoadAttendance(staff_ID)
			loadStaffLeaveInfo(staff_ID)
			loadStaffLoanInfo(staff_ID)
			loadStaffSalaryInfo(staff_ID)
			loadStaffActivity(staff_ID)

			$('#DatePerformance').val('@DateTime.Now.ToString("yyyy")')
			loadStaffAttendanceChart($("#staff_ID").val())
			//$('#DatePerformance').change(function () {
			//	loadStaffAttendanceChart(staff_ID)
			//});
			//loadStaffAttendanceChart(staff_ID)
		});

		function LoadAttendance(staff_ID) {
			var data = { staffId: staff_ID }
			var html_Attendance = ''
			$.ajax({
				url: "/Staff/GetAttendanceData",
                type: "GET",
                async: false,
				data: data,
				success: function (data) {
					if (data != null) {
						for(var i = 0; i < data.length; i++) {
							var Totalhours = Math.floor(  parseInt(data[i]["totalDefinedMinutes"]) / 60);
							var TotalremainingMinutes = parseInt(data[i]["totalDefinedMinutes"]) % 60;
							var Emphours = Math.floor(parseInt(data[i]["totalWorkingMinutes"]) / 60);
							var EmpremainingMinutes = parseInt(data[i]["totalWorkingMinutes"]) % 60;
							var percenatge = (parseInt(data[i]["totalWorkingMinutes"]) / parseInt(data[i]["totalDefinedMinutes"])) * 100
							var statusHtml = '<td><span class="badge ' + data[i]["cssClass"] + '">' + data[i]["attendancestatus"] + '</span></td>';
							var progress = '<div class="progress progress-sm d-block"   data-toggle="tooltip" title="' + Totalhours + ':' + TotalremainingMinutes + '"   ><div class="progress-bar bg-success w-' + parseInt(percenatge) + '"   data-toggle="tooltip" title="' + Emphours + ':' + EmpremainingMinutes + '" > </div>	</div>';

							html_Attendance += ' <tr> '
							html_Attendance += '	 <td>' + data[i].attendanceFormateDate + '</td> '
							html_Attendance += '	 <td><span class="badge ' + data[i].cssClass + '-light">' + data[i].attendancestatus + '</span></td> '
							
							if(data[i].attendancestatus == 'Leave' || data[i].attendancestatus == 'Absent'){
								html_Attendance += '	 <td> </td>'
								html_Attendance += '	 <td> </td>'
								html_Attendance += '	 <td> </td>'
								html_Attendance += '	 <td> </td>'
							}
							else{
								html_Attendance += '	 <td>' + convertTimeToAMPM(data[i]["firstPunchIn"]) + '</td> '
								html_Attendance += '	 <td>' + convertTimeToAMPM(data[i]["lastPunchOut"]) + '</td> '
								html_Attendance += '	 <td> ' + progress + '</td>'
								html_Attendance += data[i]["lastPunchOut"] == null ? '<td></td>' : '	 <td>' + Emphours + 'h :' + EmpremainingMinutes + ' mins</td> '
							}
							html_Attendance += ' </tr> '
						}
						$('#TblBodyAttendance').html(html_Attendance);
					}
				},
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });  
		}

		function loadStaffLeaveInfo(staff_ID) {
			var data = { staffId: staff_ID }
			var html_Leave = ''
			$.ajax({
				url: "/Staff/GetLeaveData",
				type: "GET",
				async: false,
				data: data,
				success: function (data) {
					if (data != null) {
						for (var i = 0; i < data.length; i++) {
							html_Leave += ' <tr> '
							html_Leave += ' 	<td class="text-center">1</td> '
							html_Leave += ' 	<td>' + data[i].leaveTypeTitle + '</td> '
							html_Leave += ' 	<td class="font-weight-semibold">' + data[i].days + '</td> '
							html_Leave += ' 	<td>Personal</td> '
							html_Leave += ' 	<td>' + data[i].leaveAppliedOnDate + '</td> '
							html_Leave += ' 	<td> '
							html_Leave += ' 		<span class="badge badge-' + data[i].cssClass + '-light">' + data[i].leaveStatusTitle + '</span> '
							html_Leave += ' 	</td> '
							html_Leave += ' </tr> '
						}
						$('#TblBodyLeave').html(html_Leave);
					}
				},
				error: function (jqXHR, textStatus, errorThrown) {
					console.log(textStatus, errorThrown);
				}
			});
		}

		function loadStaffLoanInfo(staff_ID) {
			var requestData = { staffId: staff_ID }
			makeAjaxRequest("/Staff/Staff_Loan_Statistics", 'GET', requestData, false, function (response) {
				if (response != null) {
					var htmlLoan = ''
					for (var i = 0; i < response.length; i++) {
						htmlLoan += ' <tr> '
						htmlLoan += ' 	<td class="text-center">' + response[i].SNO + '</td> '
						htmlLoan += ' 	<td>' + response[i].LoanTypeTitle + '</td> '
						htmlLoan += ' 	<td>' + response[i].LoanAmount.toLocaleString() + '</td> '
						htmlLoan += ' 	<td>Total: ' + response[i].NoOfInstallments + ' | Paid: ' + response[i].LoanRepaymentInstallment + '</td> '
						htmlLoan += ' 	<td>' + response[i].InstallmentPerMonth.toLocaleString() + '</td> '
						htmlLoan += ' 	<td> '
						htmlLoan += '		<div class="progress progress-md"> '
						htmlLoan += ' 			<div class="progress-bar bg-primary" style="width: ' + response[i].LoanRepaymentPercent + '%"> ' + Math.round(response[i].LoanRepaymentPercent * 10) / 10 + '%</div> '
						htmlLoan += '		</div>  '
						htmlLoan += ' 	</td> '
						htmlLoan += ' 	<td> '

						if (response[i].LoanStatus == 'Approved') {
							htmlLoan += ' 		<span class="badge badge-success-light">' + response[i].LoanStatus + '</span> '
						}
						else if (response[i].LoanStatus == 'Paid') {
							htmlLoan += ' 		<span class="badge badge-info-light">' + response[i].LoanStatus + '</span> '
						}
						else if (response[i].LoanStatus == 'Not Paid') {
							htmlLoan += ' 		<span class="badge badge-danger-light">' + response[i].LoanStatus + '</span> '
						}
						else if (response[i].LoanStatus == 'Rejected') {
							htmlLoan += ' 		<span class="badge badge-orange-light">' + response[i].LoanStatus + '</span> '
						}

						htmlLoan += ' 	</td> '
						htmlLoan += ' </tr> '
					}
				
					$("#TblBodyLoan").html(htmlLoan)
				}
			}, function (errorStatus) {
				console.log('Error:', errorStatus)
			});
		}

		function loadStaffSalaryInfo(staff_ID) {
			var data = { staffId: staff_ID }
			var html_Salary = ''
			$.ajax({
				url: "/Staff/GetStaffSalaryHistory",
				type: "GET",
				async: false,
				data: data,
				success: function (data) {
					if (data != null) {
						for (var i = 0; i < data.length; i++) {
							html_Salary += '<tr id="' + i + '">'
							html_Salary += '<td> ' + data[i].sno + ' </td>'
							html_Salary += '<td> ' + data[i].monthName + '-' + data[i].year + ' </td>'
							html_Salary += '<td> ' + data[i].oV_EarningAmount.toLocaleString() + ' </td>'
							html_Salary += '<td> ' + data[i].oV_DeductionAmount.toLocaleString() + ' </td>'
							html_Salary += '<td> ' + data[i].oV_PayableAmount.toLocaleString() + ' </td>'

							if (data[i].salaryStatusTitle == 'Generated') {
								html_Salary += '<td> <span class="badge badge-success-light"> ' + data[i].salaryStatusTitle + ' </span></td>'
							}
							else if (data[i].salaryStatusTitle == 'Paid') {
								html_Salary += '<td> <span class="badge badge-info-light"> ' + data[i].salaryStatusTitle + ' </span></td>'
							}
							else if (data[i].salaryStatusTitle == 'Hold') {
								html_Salary += '<td> <span class="badge badge-danger-light"> ' + data[i].salaryStatusTitle + ' </span></td>'
							}
							html_Salary += '</tr>'
							//html_Salary += ' <tr> '
							//html_Salary += ' 	<td class="text-center">1</td> '
							//html_Salary += ' 	<td>' + data[i].leaveTypeTitle + '</td> '
							//html_Salary += ' 	<td class="font-weight-semibold">' + data[i].days + '</td> '
							//html_Salary += ' 	<td>Personal</td> '
							//html_Salary += ' 	<td>' + data[i].leaveAppliedOnDate + '</td> '
							//html_Salary += ' 	<td> '
							//html_Salary += ' 		<span class="badge badge-' + data[i].cssClass + '-light">' + data[i].leaveStatusTitle + '</span> '
							//html_Salary += ' 	</td> '
							//html_Salary += ' </tr> '
						}
						$('#TblBodySalary').html(html_Salary);
					}
				},
				error: function (jqXHR, textStatus, errorThrown) {
					console.log(textStatus, errorThrown);
				}
			});
		}

		function loadStaffActivity(staff_ID) {
			var dateValue = $("#activityDate").val()
			var requestData = { staffId: staff_ID, currentDate: dateValue }
			makeAjaxRequest("/Staff/Staff_Activity", 'GET', requestData, false, function (response) {
				if (response != null) {
					debugger
					var htmlActivity = ''
					for (var i = 0; i < response.length; i++) {
						htmlActivity += ' <li class="' + response[i].CssClass + '"> '
						htmlActivity += '     <a target="_blank" href="javascript:void(0);" class="font-weight-semibold fs-15 ms-3">' + response[i].Heading + '</a> '
						htmlActivity += '     <a href="javascript:void(0);" class="text-muted float-end fs-13">' + response[i].Ago + ' min ago</a> '
						htmlActivity += '     <p class="mb-0 pb-0 text-muted pt-1 fs-11 ms-3">' + response[i].Title + '</p> '
						//htmlActivity += '     <span class="text-muted  ms-3 fs-11"> On Monday 12 Jan 2020.</span> '
						htmlActivity += ' </li> '
					}

					$("#CardActivity").html(htmlActivity)
				}
			}, function (errorStatus) {
				console.log('Error:', errorStatus)
			});
		}

		$('#StatisticsAttendanceChart').on('click', function(){
			debugger
			loadStaffAttendanceChart($("#staff_ID").val())
		});

		function loadStaffAttendanceChart(staff_ID) {
			debugger
			var dateValue = $('#DatePerformance').val()
			var requestData = { staffId: staff_ID, currentYear: dateValue }
			makeAjaxRequest("/Staff/Staff_AttendanceChart", 'GET', requestData, false, function (response) {
				if (response != null) {
					debugger
					var htmlAttendanceHeader = ''
					var htmlAttendance = ''
					for (var i = 0; i < response.length; i++) {
						debugger
						//if (response[i].MonthNumber == 13) {
						//	htmlAttendanceHeader += ' <div class="chart-circle chart-circle-sm" data-value="' + response[i].MTDPresentPercentage / 100.0 + '" data-thickness="5" data-color="#3366ff"> '
						//	htmlAttendanceHeader += ' 	<canvas width="64" height="64"></canvas> '
						//	htmlAttendanceHeader += ' 	<div class="chart-circle-value text-primary">' + response[i].MTDPresentPercentage + '</div> '
						//	htmlAttendanceHeader += ' </div> '
						//}

						htmlAttendance += ' <div class="d-flex align-items-end justify-content-between mg-b-5"> '
						htmlAttendance += ' 	<h6 class="">' + response[i].MonthName + '</h6> '
						htmlAttendance += ' 	<h6 class="font-weight-bold mb-1">' + response[i].MTDPresentCount + ' / ' + response[i].MonthDaysCount + '</h6> '
						htmlAttendance += ' </div> '
						htmlAttendance += ' <div class="progress progress-xs mb-3" data-toggle="tooltip" title="' + response[i].MTDPresentPercentage + '%"> '
						htmlAttendance += ' 	<div class="progress-bar bg-info" style="width: ' + response[i].MTDPresentPercentage + '%"></div> '
						htmlAttendance += ' </div> '
					}

					//$("#StatisticsAttendanceChart").html(htmlAttendanceHeader)
					$("#CardPerformance").html(htmlAttendance)
				}
			}, function (errorStatus) {
				console.log('Error:', errorStatus)
			});
		}
		
		$('#StatisticsPerformanceChart').on('click', function () {
			debugger
			loadStaffPerformanceChart($("#staff_ID").val())
		});

		function loadStaffPerformanceChart(staff_ID) {
			debugger
			var dateValue = $('#DatePerformance').val()
			var requestData = { staffId: staff_ID, currentYear: dateValue }
			makeAjaxRequest("/Staff/Staff_PerformanceChart", 'GET', requestData, false, function (response) {
				if (response != null) {
					debugger
					var htmlPerformance = ''
					for (var i = 0; i < response.length; i++) {
						htmlPerformance += ' <div class="d-flex align-items-end justify-content-between mg-b-5"> '
						htmlPerformance += ' 	<h6 class="">' + response[i].PerformanceTitle + '</h6> '
						htmlPerformance += ' 	<h6 class="font-weight-bold mb-1">' + response[i].EarnedWeightage + '</h6> '
						htmlPerformance += ' </div> '
						htmlPerformance += ' <div class="progress progress-xs mb-3"> '
						htmlPerformance += ' 	<div class="progress-bar bg-info" style="width: ' + response[i].TotalWeightage + '"></div> '
						htmlPerformance += ' </div> '
					}

					$("#CardPerformance").html(htmlPerformance)
				}
			}, function (errorStatus) {
				console.log('Error:', errorStatus)
			});
		}

	</script>

}