@model HRHUBAPI.Models.Staff

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Staff</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DesignationId" class="control-label"></label>
                <input asp-for="DesignationId" class="form-control" />
                <span asp-validation-for="DesignationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <input asp-for="DepartmentId" class="form-control" />
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationNo" class="control-label"></label>
                <input asp-for="RegistrationNo" class="form-control" />
                <span asp-validation-for="RegistrationNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationalIdnumber" class="control-label"></label>
                <input asp-for="NationalIdnumber" class="form-control" />
                <span asp-validation-for="NationalIdnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherName" class="control-label"></label>
                <input asp-for="FatherName" class="form-control" />
                <span asp-validation-for="FatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContact1" class="control-label"></label>
                <input asp-for="EmergencyContact1" class="form-control" />
                <span asp-validation-for="EmergencyContact1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContact2" class="control-label"></label>
                <input asp-for="EmergencyContact2" class="form-control" />
                <span asp-validation-for="EmergencyContact2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dob" class="control-label"></label>
                <input asp-for="Dob" class="form-control" />
                <span asp-validation-for="Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialStatus" class="control-label"></label>
                <input asp-for="MaterialStatus" class="form-control" />
                <span asp-validation-for="MaterialStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodGroup" class="control-label"></label>
                <input asp-for="BloodGroup" class="form-control" />
                <span asp-validation-for="BloodGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresentAddress" class="control-label"></label>
                <input asp-for="PresentAddress" class="form-control" />
                <span asp-validation-for="PresentAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermanentAddress" class="control-label"></label>
                <input asp-for="PermanentAddress" class="form-control" />
                <span asp-validation-for="PermanentAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JoiningDate" class="control-label"></label>
                <input asp-for="JoiningDate" class="form-control" />
                <span asp-validation-for="JoiningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResigningDate" class="control-label"></label>
                <input asp-for="ResigningDate" class="form-control" />
                <span asp-validation-for="ResigningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TerminationDate" class="control-label"></label>
                <input asp-for="TerminationDate" class="form-control" />
                <span asp-validation-for="TerminationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryPerMonth" class="control-label"></label>
                <input asp-for="SalaryPerMonth" class="form-control" />
                <span asp-validation-for="SalaryPerMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountTitle" class="control-label"></label>
                <input asp-for="AccountTitle" class="form-control" />
                <span asp-validation-for="AccountTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccountNumber" class="control-label"></label>
                <input asp-for="BankAccountNumber" class="form-control" />
                <span asp-validation-for="BankAccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankName" class="control-label"></label>
                <input asp-for="BankName" class="form-control" />
                <span asp-validation-for="BankName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankLocation" class="control-label"></label>
                <input asp-for="BankLocation" class="form-control" />
                <span asp-validation-for="BankLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxPayerNumber" class="control-label"></label>
                <input asp-for="TaxPayerNumber" class="form-control" />
                <span asp-validation-for="TaxPayerNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="JobDescription" class="control-label"></label>
                <input asp-for="JobDescription" class="form-control" />
                <span asp-validation-for="JobDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDeleted" class="control-label"></label>
                <input asp-for="IsDeleted" class="form-control" />
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedOn" class="control-label"></label>
                <input asp-for="UpdatedOn" class="form-control" />
                <span asp-validation-for="UpdatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <input asp-for="CompanyId" class="form-control" />
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
