################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HRHUBAPI/bin/Debug/net6.0
/.vs
/HRHUBAPI/obj
/HRHUBWEB/bin/Debug/net6.0
/HRHUBWEB/obj


/HRHUBWEB/wwwroot/Images/DepartmentImages
/HRHUBWEB/wwwroot/Images/StaffImages
/HRHUBAPI/bin/Release/net6.0
/HRHUBWEB/Properties/PublishProfiles
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Zarlish Test Candiodate-638233059667335026.pdf
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Zarlish Test Candiodate-638233059667323559.pdf
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Test Candidate-638233032679238144.docx
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Test Candidate-638233032679219195.docx
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233116930879001.docx
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233116930858263.docx
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233110512447160.docx
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233110512437774.docx
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233109280302677.docx
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233109280290559.docx
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233091862019349.pdf
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233091862007521.pdf
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233091463556376.pdf
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233091463545679.pdf
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233089432054533.docx
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233089432008344.docx
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233080574128995.docx
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233080574072822.docx
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233078551219357.docx
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233078551213303.docx
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233077463524841.pdf
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233077463520378.pdf
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233075682247816.pdf
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233075682238455.pdf
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233063261682518.pdf
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638233063261664877.pdf
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638232966598470323.docx
/HRHUBWEB/wwwroot/Images/CandidateAttachment/Athar Naveed-638232966598458884.docx
/HRHUBWEB/wwwroot/Images/CandidateAttachmentOffer/hfgh-638233053308995958.docx
/HRHUBWEB/wwwroot/Images/CandidateAttachmentOffer/test offer sent-638233046491665357.pdf
