<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Company</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

 <style>
        .logo {
            width: 200px;
        }

        header.main-header {
            box-shadow: 0px 3px 18px -9px;
        }
        .logo img {
            width: 100%;
        }

        .header-section {
            background: linear-gradient(#8032e5, #6f1fd8);
        }

        /* .hero-content{
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
    } */
        h1.section-title {

            font-size: 3.3rem;

        }

        #next-btn {
            width: 200px;
            height: 50px;
        }

        button#createAccountBtn {
            height: 50px;
        }

        .company-logo {
            background-image: url(images/hero-custom-illu/portal-logo.png);
            background-color: #fff;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 50%;
            width: 36px;
            height: 36px;
            border-radius: 36px;
            object-fit: cover;
        }

        .onboard-card {
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0px 2px 14px -6px;
        }

        /* .onboard-card-header {
            background-color: #8032e5;
        } */

        .custom-progress-bar {
            border-radius: 16px;
            height: 0.7rem;
        }

        .list-title {
            list-style: none;
            font-size: 0.9rem;
        }

        .list-icon {
            display: flex;
            width: 15px;
            height: 15px;
            background: #0d6efd;
            color: #fff;
            border-radius: 100%;
            font-size: 0.6rem;
            justify-content: center;
            align-items: center;
            margin-right: 1rem;
        }


        .list-wrapper {
            box-shadow: 2px 2px 6px -5px;
            padding: 7px 10px;
            border-radius: 20px;
            border: 1px solid #e9ecef;
        }

        active {
            display: block;
        }

        .animated-img {
            animation: scale-animation 2s infinite;
        }

        @@keyframes scale-animation {

            0%,
            100% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.05);
            }
        }

        .indicator {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            right: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            visibility: hidden;
            outline: none;
        }

        button.indicator>i {
            color: #fff;
            font-size: 13px;
        }

        .validation-message {
            color: #da0530;
            font-size: 13px;
            list-style-type: none;
        }
    </style>

<body>
    <div class="container-fluid px-0 header-section">
        <header class="main-header d-flex justify-content-between align-items-center px-2 px-sm-5">


            <div class="logo">
                <img src="~/images/company-logo.png" alt="">
            </div>
            <nav class="navbar">
                <button type="button"
                        class="btn border border-3 bg-transparent pointer text-white rounded py-2 px-3 text-capitalize fw-bold"
                        id="demo-btn">
                    book a demo
                </button>
            </nav>
            <!-- <svg width="199" height="104" viewBox="0 0 199 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M118.962 40.7678L111.475 40.7294L111.377 60.0931L107.487 60.0732L107.586 40.7095L100.131 40.6713L100.15 37L118.981 37.0965L118.962 40.7678ZM127.878 44.2574L127.858 48.0912C127.437 48.024 127.016 47.9894 126.627 47.9874C123.71 47.9724 122.372 49.6551 122.357 52.6116L122.319 60.1491L118.559 60.1299L118.64 44.3076L122.302 44.3263L122.289 46.8605C123.044 45.1424 124.799 44.1442 126.873 44.1548C127.327 44.1571 127.716 44.2241 127.878 44.2574ZM135.866 66.6191L131.847 66.5985L135.681 58.3332L129.01 44.3607L133.256 44.3824L137.743 54.4124L142.04 44.4274L146.026 44.4479L135.866 66.6191ZM159.382 60.339L155.655 60.3199L155.736 44.4976L159.333 44.516L159.323 46.5304C160.239 44.9106 162.22 44.076 164.003 44.0851C166.077 44.0957 167.888 45.0472 168.721 46.9034C169.963 44.8304 171.814 44.1251 173.856 44.1356C176.708 44.1502 179.422 45.9835 179.4 50.1747L179.348 60.4413L175.718 60.4227L175.767 50.7734C175.777 48.9215 174.844 47.5196 172.737 47.5088C170.76 47.4987 169.455 49.0515 169.446 51.0009L169.398 60.3903L165.703 60.3714L165.752 50.7221C165.761 48.9027 164.861 47.4685 162.722 47.4575C160.712 47.4472 159.441 48.9353 159.43 50.9496L159.382 60.339ZM186.759 50.8297L194.505 50.8694C194.45 49.0171 193.226 47.3539 190.634 47.3406C188.268 47.3285 186.897 49.1409 186.759 50.8297ZM194.905 54.9977L198.077 56.0211C197.22 58.7784 194.713 61.0074 190.92 60.988C186.642 60.966 182.866 57.8276 182.893 52.4669C182.919 47.4635 186.631 44.1685 190.617 44.189C195.479 44.2139 198.315 47.4449 198.289 52.4483C198.286 53.0656 198.219 53.5851 198.186 53.6499L186.647 53.5908C186.732 55.9955 188.603 57.7271 190.937 57.739C193.206 57.7506 194.379 56.5545 194.905 54.9977Z" fill="black"/>
                <path d="M135.423 80.8378C119.804 92.1984 101.203 92.6279 87.4554 84.5605C80.8401 80.6783 75.2722 75.1458 70.7485 68.6421C66.131 62.0029 61.4714 53.7884 60.924 44.6045C60.542 38.1986 63.5864 27.0309 71.2623 26.7918C78.0158 26.5818 84.0331 34.0532 84.0132 41.359C83.9905 49.5409 77.1203 56.5805 70.2894 59.0436C62.1386 61.9836 53.4932 60.1041 46.4988 57.2327C31.1892 50.9482 19.9728 36.2111 17.0143 17.7835C16.732 16.0262 19.2512 14.6962 19.5526 16.4713C21.816 29.7979 28.234 41.0225 37.6912 48.4693C42.5114 52.2644 48.1104 55.0247 54.1509 56.4406C61.07 58.0623 69.814 58.6468 76.5078 52.3254C83.8952 45.3488 82.0945 35.8975 76.012 31.4716C72.4594 28.8873 68.0643 28.5783 65.1497 34.1806C62.7832 38.7285 63.0124 44.0745 64.0254 48.3552C67.2689 62.0727 76.774 74.3759 87.3167 81.2127C100.537 89.7861 118.88 90.4624 134.54 79.3817C135.544 78.6711 136.438 80.0999 135.423 80.8378Z" fill="black"/>
                <path d="M30.8092 30.9272C25.5618 23.0107 20.3547 15.0542 15.0141 7.22182C15.9322 6.89453 16.8492 6.56601 17.7677 6.23779C16.07 11.2654 14.409 16.2828 13.0218 21.3705C11.745 26.0511 11.1445 31.1511 9.29407 35.6888C8.70859 37.1224 6.85565 36.8512 6.85354 35.4863C6.84308 30.7053 8.75377 25.214 10.1093 20.4342C11.527 15.4355 13.1259 10.4504 15.0066 5.55347C15.4901 4.29529 17.0781 4.1102 17.6098 4.99665C22.5283 13.1947 27.5861 21.2758 32.6002 29.3917C33.2932 30.5131 31.5286 32.0121 30.8092 30.9272Z" fill="black"/>
                </svg>

                          </div>
                          <div
                            class="wx-tryme-svg absolute -bottom-24 hidden md:block lg:hidden wx-scaling-image"
                          >
                            <svg width="154" height="80" viewBox="0 0 154 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M92.1167 30.9406L86.2949 30.9108L86.2181 45.9454L83.1939 45.93L83.2706 30.8953L77.4741 30.8657L77.4886 28.0151L92.1312 28.09L92.1167 30.9406ZM99.0488 33.6501L99.0336 36.6267C98.7062 36.5746 98.3787 36.5477 98.0763 36.5461C95.8081 36.5345 94.7681 37.841 94.7563 40.1365L94.7265 45.989L91.803 45.974L91.8657 33.689L94.7136 33.7036L94.7035 35.6712C95.29 34.3372 96.6549 33.5621 98.2679 33.5704C98.6207 33.5722 98.9229 33.6242 99.0488 33.6501ZM105.26 51.0125L102.135 50.9965L105.117 44.579L99.9297 33.7302L103.231 33.7471L106.72 41.5348L110.061 33.7821L113.161 33.7979L105.26 51.0125ZM123.546 46.1364L120.648 46.1216L120.711 33.8365L123.508 33.8509L123.5 35.4149C124.212 34.1572 125.753 33.5092 127.139 33.5163C128.752 33.5245 130.16 34.2633 130.807 35.7045C131.773 34.095 133.213 33.5473 134.801 33.5555C137.018 33.5668 139.128 34.9903 139.112 38.2444L139.071 46.2158L136.248 46.2014L136.286 38.7093C136.294 37.2714 135.568 36.1829 133.93 36.1746C132.393 36.1667 131.379 37.3724 131.371 38.8859L131.334 46.1762L128.461 46.1615L128.499 38.6694C128.506 37.2568 127.806 36.1432 126.143 36.1347C124.58 36.1267 123.591 37.2821 123.583 38.8461L123.546 46.1364ZM144.833 38.753L150.857 38.7838C150.813 37.3457 149.862 36.0543 147.846 36.0439C146.006 36.0345 144.941 37.4418 144.833 38.753ZM151.168 41.9892L153.634 42.7838C152.967 44.9247 151.018 46.6553 148.069 46.6402C144.743 46.6232 141.806 44.1865 141.828 40.0242C141.847 36.1394 144.734 33.581 147.833 33.5969C151.614 33.6162 153.819 36.125 153.799 40.0097C153.797 40.489 153.744 40.8924 153.719 40.9427L144.747 40.8968C144.813 42.7639 146.268 44.1084 148.082 44.1177C149.846 44.1267 150.758 43.198 151.168 41.9892Z" fill="black"/>
                <path d="M104.916 62.0523C92.7709 70.8731 78.3075 71.2065 67.6177 64.9427C62.4738 61.9284 58.1444 57.6328 54.6269 52.5831C51.0364 47.4282 47.4133 41.0502 46.9876 33.9194C46.6906 28.9457 49.0578 20.2747 55.0264 20.089C60.2777 19.9259 64.9566 25.727 64.9411 31.3995C64.9235 37.7522 59.5814 43.2181 54.2699 45.1305C47.9321 47.4132 41.2096 45.9539 35.771 43.7244C23.8666 38.8449 15.145 27.4025 12.8446 13.0946C12.6251 11.7302 14.584 10.6975 14.8183 12.0758C16.5783 22.4231 21.5687 31.1383 28.9224 36.9202C32.6704 39.8668 37.0241 42.0101 41.721 43.1094C47.1011 44.3686 53.9002 44.8224 59.1051 39.9142C64.8494 34.4973 63.4492 27.159 58.7196 23.7226C55.9572 21.716 52.5397 21.4761 50.2734 25.826C48.4333 29.3571 48.6115 33.5079 49.3992 36.8316C51.9212 47.4824 59.3121 57.035 67.5099 62.3433C77.7896 69.0001 92.0522 69.5251 104.229 60.9217C105.01 60.37 105.706 61.4794 104.916 62.0523Z" fill="black"/>
                <path d="M23.5711 23.3002C19.4909 17.1536 15.442 10.9759 11.2893 4.89453C12.0032 4.6404 12.7162 4.38533 13.4304 4.13049C12.1103 8.03409 10.8187 11.9298 9.74014 15.8801C8.7473 19.5142 8.28041 23.4741 6.84153 26.9973C6.38628 28.1104 4.94548 27.8998 4.94384 26.8401C4.93571 23.128 6.42141 18.8643 7.47547 15.1531C8.57776 11.2719 9.82103 7.4013 11.2834 3.59916C11.6594 2.62226 12.8942 2.47855 13.3076 3.16682C17.1321 9.53208 21.0649 15.8065 24.9637 22.108C25.5026 22.9787 24.1305 24.1426 23.5711 23.3002Z" fill="black"/>
                </svg> -->
        </header>
    </div>
    <div class="container">
            @RenderBody()
    </div>


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
   @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
