@{
    ViewData["Title"] = "HR Dashboard";
}

<link href="~/assets/css/animated.css" rel="stylesheet">
<div class="modal fade" id="ModelNotice">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notice Board</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label">Description</label>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="NoticeView"></div>

                        </div>

                    </div>

                </div>

            </div>
            <div class="modal-footer">

                <a class="btn btn-danger" data-bs-dismiss="modal">Close</a>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModelEvent">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upcoming Events</h5>

                <div class="card-options col-md-3">
                    <select id="sumaryMonth" class=" form-control custom-select select2">

                        <option value="1">January  </option>
                        <option value="2">February</option>
                        <option value="3">March   </option>
                        <option value="4">April  </option>
                        <option value="5">May    </option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September </option>
                        <option value="10">October  </option>
                        <option value="11">November </option>
                        <option value="12">December</option>

                    </select>

                </div>

            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">




                            <div class="table-responsive attendance_table mt-4">
                                <table class="table mb-0 text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="text-center">S.No</th>
                                            <th class="text-start">Employee</th>

                                            <th class="text-center">Date</th>
                                            <th class="text-center">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblEvent">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">

                    <a class="btn btn-danger" data-bs-dismiss="modal">Close</a>

                </div>
            </div>
        </div>
    </div>
</div>







<link href="~/assets/css/animated.css" rel="stylesheet" />
<div class="row">
    <div class="col-xl-9 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <div class="mt-0 text-start">
                                    <span class="fs-14 font-weight-semibold">Total Employees</span>
                                    <h3 class="mb-0 mt-1 mb-2" id="TotalEmploye">0</h3>
                                    <span class="text-muted">
                                        <span class="text-success fs-12 mt-2 me-1" s>
                                            <i class="feather feather-arrow-up-right me-1 bg-success-transparent p-1 brround"></i><span id="lastMonth">0</span> Last Month
                                        </span>
                                        @*for last month*@
                                    </span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="icon1 bg-success my-auto  float-end"> <i class="feather feather-users IconCenterAlignment "></i> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <div class="mt-0 text-start">
                                    <span class="fs-14 font-weight-semibold">Total Present</span>
                                    <h3 class="mb-0 mt-1 mb-2" id="TotalPresent">0</h3>
                                    <span class="text-muted">
                                        <span class="text-success fs-12 mt-2 me-1"><i class="feather feather-arrow-up-right me-1 bg-success-transparent p-1 brround"></i></span>
                                        View
                                    </span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="icon1 bg-primary my-auto  float-end"> <i class="ion-checkmark-circled IconCenterAlignment "></i> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <div class="mt-0 text-start">
                                    <span class="fs-14 font-weight-semibold">Total Absent</span>
                                    <h3 class="mb-0 mt-1  mb-2" id="TotalAbsent"></h3>
                                </div>
                                <span class="text-muted">
                                    <span class="text-success fs-12 mt-2 me-1"><i class="feather feather-arrow-up-right me-1 bg-success-transparent p-1 brround"></i></span>
                                    View
                                </span>
                            </div>
                            <div class="col-4">
                                <div class="icon1 bg-danger brround my-auto  float-end"> <i class="ion-close-circled IconCenterAlignment "></i> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-md-12 col-lg-12">
                <div class="card">

                    <div class="card-header border-0 responsive-header">
                        <h4 class="card-title">Salary Summary </h4>
                        <div class="card-options col-md-4">
                            <select id="sumaryYear" class=" form-control custom-select select2">

                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                            </select>

                        </div>
                    </div>

                    <div class="card-body" style="padding-top: 45px;">
                        <div style="height:305px;">
                            <div id="echartEmployees" class="chartsh "></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-12 col-lg-12">
        <div class="card overflow-hidden">
            <div class="card-header border-0">
                <h4 class="card-title">Notice Board</h4>

            </div>

            <div id="NoticeBoarddata" class="overflow-auto" style="height:255px"></div>
        </div>

        <div class="card overflow-hidden">
            <div class="card-header border-0">
                <h4 class="card-title">Upcoming Events</h4>
                <a href="#" onclick="allEventLoad()" class="text-muted">
                    <span class="text-success fs-12 mt-2 me-1"><i class="feather feather-arrow-up-right me-1 bg-success-transparent p-1 brround"></i></span>

                </a>
            </div>
            <div style="height:214px">
                <ul class="vertical-scroll" id="EventBoarddata">
                    <li class="item">
                    </li>
                    <li class="item">
                    </li>
                    <li class="item">
                    </li>

                </ul>
            </div>


        </div>



    </div>
    <div class="col-xl-4 col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header border-0">
                <h4 class="card-title">Project Overview</h4>
                <div class="card-options">
                    <div class="dropdown">
                        <a href="javascript:void(0);" class="btn btn-outline-light" data-bs-toggle="dropdown" aria-expanded="false"> Week <i class="feather feather-chevron-down"></i> </a>
                        <ul class="dropdown-menu dropdown-menu-end" role="menu">
                            <li><a href="javascript:void(0);">Monthly</a></li>
                            <li><a href="javascript:void(0);">Yearly</a></li>
                            <li><a href="javascript:void(0);">Weekly</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="mt-5">
                    <canvas id="sales-summary" class=""></canvas>
                </div>
                <div class="sales-chart mt-4 row text-center">
                    <div class="d-flex my-auto col-sm-4 mx-auto text-center justify-content-center"><span class="dot-label bg-primary me-2 my-auto"></span>On progress</div>
                    <div class="d-flex my-auto col-sm-4 mx-auto text-center justify-content-center"><span class="dot-label bg-secondary me-2 my-auto"></span>Pending</div>
                    <div class="d-flex my-auto col-sm-4 mx-auto text-center justify-content-center"><span class="dot-label bg-light4  me-2 my-auto"></span>Completed</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header border-0">
                <h4 class="card-title">Recent Activity</h4>
                <div class="card-options">
                    <div class="dropdown">
                        <a href="javascript:void(0);" class="btn btn-outline-light" data-bs-toggle="dropdown" aria-expanded="false"> View All <i class="feather feather-chevron-down"></i> </a>
                        <ul class="dropdown-menu dropdown-menu-end" role="menu">
                            <li><a href="javascript:void(0);">Monthly</a></li>
                            <li><a href="javascript:void(0);">Yearly</a></li>
                            <li><a href="javascript:void(0);">Weekly</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ul class="timeline">
                    <li>
                        <a target="_blank" href="javascript:void(0);" class="font-weight-semibold fs-15 ms-3">Leave Approval Request</a>
                        <a href="javascript:void(0);" class="text-muted float-end fs-13">6 min ago</a>
                        <p class="mb-0 pb-0 text-muted pt-1 fs-11 ms-3">From "RuthDyer" UiDesign Leave</p>
                        <span class="text-muted  ms-3 fs-11"> On Monday 12 Jan 2020.</span>
                    </li>
                    <li class="primary">
                        <a target="_blank" href="javascript:void(0);" class="font-weight-semibold fs-15 mb-2 ms-3">Wok Update</a>
                        <a href="javascript:void(0);" class="text-muted float-end fs-13">10 min ago</a>
                        <p class="mb-0 pb-0 text-muted fs-11 pt-1 ms-3">From "Robert Marshall" Developer</p>
                        <span class="text-muted ms-3 fs-11">Task Completed.</span>
                    </li>
                    <li class="pink">
                        <a target="_blank" href="javascript:void(0);" class="font-weight-semibold fs-15 mb-2 ms-3">Received Mail</a>
                        <a href="javascript:void(0);" class="text-muted float-end fs-13">15 min ago</a>
                        <p class="mb-0 pb-0 text-muted fs-11 pt-1 ms-3">Emergency Sick Leave from "jacob Berry"</p>
                        <span class="text-muted ms-3 fs-11">Ui Designer, Designer Team.</span>
                    </li>
                    <li class="success mb-0 pb-0">
                        <a target="_blank" href="javascript:void(0);" class="font-weight-semibold fs-15 mb-2 ms-3">Job Application Mail</a>
                        <a href="javascript:void(0);" class="text-muted float-end fs-13">1 Hour ago</a>
                        <p class="mb-0 pb-0 text-muted fs-11 pt-1 ms-3">From jobmail@gmail.com laravel developer.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12 col-lg-12">
        <div class="card chart-donut1" style="height: 420px;">
            <div class="card-header  border-0">
                <h4 class="card-title">Gender by Employees</h4>
            </div>
            <div class="card-body">

                <div id="employeesGender" class="mx-auto apex-dount"></div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header border-bottom-0">
                <h3 class="card-title">Recent Job Application</h3>
          


                <div class="card-options col-md-4">
                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="feather feather-calendar"></i>
                                </div>
                            </div><input id="leavedate" class="form-control fc-datepicker " type="text">
                        </div>
                    </div>

                </div>

            </div>
            <div class="tab-menu-heading table_tabs mt-2 p-0 ">
                <div class="tabs-menu1">
                    <!-- Tabs -->
                    <ul class="nav panel-tabs">
                        <li class="ms-sm-4"><a class="active" href="#tab5" data-bs-toggle="tab">Leave Requests</a></li>
                        <li><a href="#tab6" data-bs-toggle="tab">Loan Request</a></li>
                        <li><a href="#tab7" data-bs-toggle="tab">Hired Candidates</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body tabs-menu-body table_tabs1 p-0 border-0">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab5">
                        
                        <div class="table-responsive recent_jobs pt-2 pb-2 ps-2 pe-2 card-body" style="height: 450px;">
                           

                            <table class="table  card-table  table-sm text-nowrap" id="tableLeaves">
                                <thead>
                                    <tr>
                                       
                                        <th>Employee</th>
                                        <th>Applied On</th>
                                        <th class="text-center">Action</th>

                                    </tr>
                                </thead>
                                <tbody id="tbodyLeaves">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab6">
                        <div class="table-responsive recent_jobs pt-2 pb-2 ps-2 pe-2 card-body"  style="height: 450px;">
                            <table class="table  card-table  table-sm text-nowrap">
                                <thead>
                                    <tr>

                                        <th class="text-start">Employee</th>
                                        <th>Applied On</th>
                                        <th class="text-center">Action</th>

                                    </tr>
                                </thead>

                                <tbody id="tbodyLoan">
                                 
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane " id="tab7">
                        <div class="table-responsive recent_jobs pt-2 pb-2 ps-2 pe-2 card-body" style="height: 450px;">
                            <table class="table  card-table  table-sm text-nowrap">

                                <thead>
                                    <tr>

                                        <th class="text-start">Employee</th>
                                        <th>Applied On</th>
                                        <th class="text-center">Action</th>

                                    </tr>
                                </thead>

                                <tbody id="candidatebody" >
                           
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header border-0">
                <h3 class="card-title">Attendance</h3>
                <div class="card-options col-md-4">
                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="feather feather-calendar"></i>
                                </div>
                            </div><input id="fromdate" name="todate" class="form-control fc-datepicker " type="text">
                        </div>
                    </div>

                </div>
            </div>
            <div class="table-responsive attendance_table mt-4" style="height: 485px;">
                <table class="table  card-table  table-sm text-nowrap" id="tableAttendance">
                    <thead>
                        <tr>
                           @* <th class="text-center">#</th>*@
                            <th class="text-start">Employee</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">CheckIn</th>
                            <th class="text-center">CheckOut</th>

                        </tr>
                    </thead>
                    <tbody id="tbodyAttendance">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




@section scripts{

    <script>

        $(document).ready(function () {

            $('#sumaryYear').select2();
            $('#sumaryMonth').select2();


            var currentYear = new Date().getFullYear();
            var currentMonth = new Date().getMonth() + 1;
            $('#sumaryYear').val(currentYear).trigger('change');
            $('#sumaryMonth').val(currentMonth).trigger('change');


            var currentDate = new Date(); // Get the current date
            $('#fromdate').datepicker({
                dateFormat: 'dd M yy',
                autoHide: true

            });

            //$('#leavedate').datepicker({
            //    dateFormat: 'dd M yy',
            //    autoHide: true

            //});


            $('#fromdate').datepicker('setDate', currentDate);
            $('#leavedate').val('@DateTime.Now.ToString("dd-MM-yyyy")');




            CheckAtendence();
            CheckAnnounments();
            CheckEvent();
            LoadChartGenderWise();
            loadSalarySummaryGraph();
            checkdailyAttendance();
            loadLeavesrequest();
            loadLoanrequest();
             loadCandiate() ;


            $('#sumaryYear').change(function () {
                loadSalarySummaryGraph();

            });

            $('#fromdate').change(function () {
                checkdailyAttendance();

            });

            $('#leavedate').change(function () {
                loadLeavesrequest();

            });


            $('#sumaryMonth').change(function () {
                CheckEvent();

            });



        });

        function CheckAtendence() {

            var requestData = {};
            makeAjaxRequest("/Dashboard/DashboardTotals", 'GET', JSON.stringify(requestData), false, function (response) {

                if (response != null) {

                    $('#TotalEmploye').text(response[0].total)
                    $('#lastMonth').text(response[1].total)
                    $('#TotalPresent').text(response[2].total)
                    $('#TotalAbsent').text(response[3].total)
                }
            }, function (errorStatus) {
                console.log('Error:', errorStatus);
            });


        }



        function CheckAnnounments() {


            var requestData = {};
            makeAjaxRequest("/Dashboard/Announmnetdata", 'GET', JSON.stringify(requestData), false, function (response) {

                if (response != null) {


                    var html = ''
                    var colors = ["bg-success", "bg-danger", "bg-primary", "bg-warning"]; // List of predefined colors

                    for (var i = 0; i < response.length; i++) {


                        var randomColor = colors[Math.floor(Math.random() * colors.length)];

                        html += '<div class="pt-2">	<div class="list-group">'
                        html += '<div class="list-group-item d-flex pt-1 pb-1 border-0">'
                        html += '<div class="me-3 me-xs-0">'
                        html += '<div class="calendar-icon icons">'
                        html += '<div class="date_time ' + randomColor + '"> <span class="date">  ' + response[i]["dayof"] + ' </span> <span class="month">' + response[i]["Monthof"] + '</span > </div></div></div>'
                        html += '<div class="ms-1">'
                        html += '<div class="h5 fs-14 mb-1" ><a href="#" onclick="OpenNotice(' + i + ')" >  <div type hidden id="viewDescription_' + i + '"> ' + response[i]["Description"].replace('nowrap', 'block') + '  </div> ' + response[i]["Title"] + ' </a></div> <small class="text-muted">' + response[i]["Title"] + '</small ></div></div></div></div> '


                    }

                    $('#NoticeBoarddata').html(html)

                }


            }, function (errorStatus) {
                console.log('Error:', errorStatus);
            });


        }

        function OpenNotice(i) {
            $("#NoticeView").html($("#viewDescription_" + i).html())
            $("#ModelNotice").modal('show');
        }



        function CheckEvent() {

            var requestData = { month: $('#sumaryMonth').val() };
            makeAjaxRequest("/Dashboard/UpcommingEvent", 'GET', requestData, true, function (response) {


                if (response != null) {

                    //var html = ' <ul class="vertical-scroll">';
                    $('#EventBoarddata').html('')
                    var html = '';
                    var htmltable = '';

                    var colors = ["bg-success", "bg-danger", "bg-primary", "bg-warning"]; // List of predefined colors

                    for (var i = 0; i < response.length; i++) {


                        var randomColor = colors[Math.floor(Math.random() * colors.length)];

                        html += '<li class="item"> <div class="pt-2">	<div class="list-group">'
                        html += '<div class="list-group-item d-flex pt-1 pb-1 border-0">'
                        html += '<div class="me-3 me-xs-0">'
                        html += '<div class="calendar-icon icons">'
                        html += '<div class="date_time ' + randomColor + '"> <span class="date">  ' + response[i]["dayof"] + ' </span> <span class="month">' + response[i]["Monthof"] + '</span > </div></div></div>'
                        html += '<div class="ms-1">'
                        html += '<div class="h5 fs-14 mb-1" > ' + response[i]["EmployeeName"] + ' </div> <small class="text-muted">' + response[i]["description"] + '</small ></div></div></div></div> '
                        html += '</li>';

                        ///model tabel load

                        htmltable += '<tr class="border-bottom">'
                        htmltable += '<td class="text-center"> <span class="avatar avatar-sm brround" > ' + (i + 1) + ' </span></td>'
                        htmltable += '<td class="font-weight-semibold fs-14">'
                        htmltable += '<div class="d-flex">'
                        htmltable += '<img class="avatar avatar-md brround me-3" src = "' + response[i]["SnapPath"] + '" >'
                        htmltable += '<div class="me-3 mt-0 mt-sm-1 d-block" >'
                        htmltable += '<h6 class="mb-1 fs-14"> ' + response[i]["EmployeeName"] + ' </h6>'
                        htmltable += '<p class="text-muted mb-0 fs-12"> ' + response[i]["department"] + ' | ' + response[i]["designation"] + ' </p>'
                        htmltable += '</div></div> </td>'
                        htmltable += '<td class="text-center" > <span class="badge bg-success-transparent"> ' + response[i]["Date"] + ' </span></td>'
                        htmltable += '<td class="text-center" > ' + response[i]["description"] + '  </td></tr>'




                    }

                    $('#EventBoarddata').html(html)

                    $('#tblEvent').html(htmltable)


                }
            }, function (errorStatus) {
                console.log('Error:', errorStatus);
            });



        }



        function LoadChartGenderWise() {

            var requestData = {};
            makeAjaxRequest("/Dashboard/EmployeeGenderWiseCount", 'GET', JSON.stringify(requestData), false, function (response) {

                if (response != null) {

                    var labels = [];
                    var values = [];

                    // Extract labels and values from the data
                    for (var i = 0; i < response.length; i++) {
                        labels.push(response[i].Gender);
                        values.push(response[i].Total);
                    }



                    // Create the chart
                    var options = {
                        chart: {
                            type: 'donut',
                        },
                        series: values,
                        labels: labels,
                        chart: {
                            height: 310,
                            type: 'donut',
                        },
                        dataLabels: {
                            enabled: false
                        },

                        legend: {
                            show: true,
                            position: 'bottom',
                            offsetY: 1, // Adjust the vertical offset as needed
                            fontSize: '14px',
                            fontFamily: 'Arial, sans-serif',
                            fontWeight: 'bold'
                        },
                        stroke: {
                            show: true,
                            width: 0
                        },
                        plotOptions: {
                            pie: {
                                donut: {
                                    size: '85%',
                                    background: 'transparent',
                                    labels: {
                                        show: true,
                                        name: {
                                            show: true,
                                            fontSize: '29px',
                                            color: '#6c6f9a',
                                            offsetY: -10
                                        },
                                        value: {
                                            show: true,
                                            fontSize: '26px',
                                            color: undefined,
                                            offsetY: 16,
                                        },
                                        total: {
                                            show: true,
                                            showAlways: false,
                                            label: 'Total Employees',
                                            fontSize: '22px',
                                            fontWeight: 600,
                                            color: '#373d3f',

                                        }

                                    }
                                }
                            }
                        },


                        responsive: [{
                            breakpoint: 480,
                            options: {
                                chart: {
                                    width: 300
                                },
                                legend: {
                                    position: 'bottom'
                                }
                            }
                        }]
                    };

                    var chart = new ApexCharts($('#employeesGender')[0], options);
                    chart.render();


                }
            }, function (errorStatus) {
                console.log('Error:', errorStatus);
            });


        }


        function loadSalarySummaryGraph() {

            var requestData = { year: $('#sumaryYear').val() };
            makeAjaxRequest("/Dashboard/EmployeeSalarySummery", 'GET', requestData, false, function (response) {

                if (response != null) {


                    debugger;
                    console.log(response)
                    var MonthName = [];
                    var StaffCount = [];
                    var PaidNetSalary = [];

                    // Extract labels and values from the data
                    for (var i = 0; i < response.length; i++) {
                        MonthName.push(response[i].MonthName);
                        StaffCount.push(response[i].StaffCount);
                        PaidNetSalary.push(response[i].PaidNetSalary);

                    }


                    var chartdata = [
                        //{
                        //    name: 'sales',
                        //    type: 'bar',
                        //    data: [600000,5550000,600000,900000]
                        //},
                        {
                            name: 'Employees',
                            type: 'line',
                            smooth: true,
                            data: StaffCount
                        },
                        {
                            name: 'Salary',
                            type: 'bar',
                            barWidth: 30,


                            data: PaidNetSalary/// [1, 2, 3, 6, 5, 30, 6, 4, 45,]
                        }
                    ];

                    var chart = document.getElementById('echartEmployees');

                    var barChart = echarts.init(chart);

                    var option = {
                        grid: {
                            top: '10',
                            right: '0',
                            bottom: '80',
                            left: '70',
                        },
                        xAxis: {
                            data: MonthName,//['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                            axisLine: {
                                lineStyle: {
                                    color: 'rgba(67, 87, 133, .09)'
                                }
                            },
                            axisLabel: {
                                fontSize: 12,
                                color: '#8e9cad'
                            }
                        },

                        legend: {
                            show: true,
                            data: chartdata,
                            textStyle: {
                                fontSize: 12,
                                color: '#8e9cad'
                            },
                            orient: 'horizontal',
                            // Customize the legend position
                            left: 'center', // Set to 'left', 'center', 'right' or specify a pixel value
                            top: 'bottom', // Set to 'top', 'middle', 'bottom' or specify a pixel value


                        },
                        tooltip: {
                            show: true,
                            showContent: true,
                            alwaysShowContent: false,
                            triggerOn: 'mousemove',
                            trigger: 'axis',
                            axisPointer:
                            {
                                label: {
                                    show: false,
                                }
                            }

                        },
                        yAxis: {
                            splitLine: {
                                lineStyle: {
                                    color: 'rgba(67, 87, 133, .09)'
                                }
                            },
                            axisLine: {
                                lineStyle: {
                                    color: 'rgba(67, 87, 133, .09)'
                                }
                            },
                            axisLabel: {

                                fontSize: 12,
                                color: '#8e9cad'
                            }
                        },
                        series: chartdata,
                        color: ['#3366ff', '#01c353', '#fe7f00',]
                    };

                    barChart.setOption(option);
                    window.addEventListener('resize', function () {
                        barChart.resize();
                    })





                }
            }, function (errorStatus) {
                console.log('Error:', errorStatus);
            });



        }

        function allEventLoad() {

            $("#ModelEvent").modal('show');


        }


        function checkdailyAttendance() {
            debugger

            var requestData = { date: $("#fromdate").val() };
            makeAjaxRequest("/Dashboard/StaffDailyAttendance", 'GET', requestData, false, function (response) {

                if (response != null) {
                    debugger

                    console.log(response)

                    var html = '';
                    for (var i = 0; i < response.length; i++) {
                        html += '<tr class="border-bottom">'
                        //html += '<td class="text-center">' + (i + 1) + '</td>'
                        html += '<td class="font-weight-semibold fs-14"> '

                        html += '<div class="d-flex">'
                        html += '<img class="avatar avatar-md brround me-3" src ="' + response[i]["SnapPath"] + '" >'
                        html += '<div class="me-3 mt-0 mt-sm-1 d-block" >'
                        html += '<h6 class="mb-1 fs-14"> ' + response[i]["EmployeeName"] + ' </h6>'
                        html += '<p class="text-muted mb-0 fs-12"> ' + response[i]["DepartmentTitle"] + ' | ' + response[i]["DesignationTitle"] + ' </p>'
                        html += '</div></div> </td>'

                        html += '<td class="text-center"><span class="badge ' + response[i]["CssClass"].replace('badge', 'bg') + '-transparent">' + response[i]["attendanceStatus"] + '</span></td>'
                        html += '<td class="text-center">' + response[i]["FirstPunchIN"] + '</td>'
                        html += '<td class="text-center">' + response[i]["LastPunchOut"] + '</td>'
                        html += "</tr>"

                    }

                    $('#tbodyAttendance').html(html)


                    //$("#tableAttendance").DataTable();

                }
            }, function (errorStatus) {
                console.log('Error:', errorStatus);
            });




        }

        function loadLeavesrequest() {
            debugger

            var requestData = { leavedate: $("#leavedate").val() };
            makeAjaxRequest("/Dashboard/StaffLeaves", 'GET', requestData, false, function (response) {

                if (response != null) {
                    debugger

                    console.log(response)

                    var html = '';
                    for (var i = 0; i < response.length; i++) {
                        html += '<tr class="border-bottom">'
                    //    html += '<td class="text-center"><span class="avatar avatar-sm brround">' + (i + 1) + '</span></td>'
                        
                        html += '<td class="font-weight-semibold fs-14"> '
                        html += '<div class="d-flex">'
                        html += '<img class="avatar avatar-md brround me-3" src ="'+ response[i]["SnapPath"] + '" >'
                        html += '<div class="me-3 mt-0 mt-sm-1 d-block" >'
                        html += '<h6 class="mb-1 fs-14"> ' + response[i]["ApplicantStaffName"] + ' </h6>'
                        html += '<p class="text-muted mb-0 fs-12"> ' + response[i]["ApplicantDepartment"] + ' | ' + response[i]["ApplicantDesignation"] + ' </p>'
                        html += '</div></div> </td>'

                        html += '<td class="font-weight-semibold fs-14"> '
                        html += '<div class="d-flex">'
                        html += '<div class="me-3 mt-0 mt-sm-1 d-block" >'
                        html += '<h6 class="mb-1 fs-14"> ' + response[i]["LeaveType"] + ' </h6>'
                        html += '<p class="text-muted mb-0 fs-12"> ' + response[i]["AppliedOn"].split("T")[0].toString("dd-MMM-yyyy") + '</p>'
                        html += '</div></div> </td>'

                        html += '<td class="text-end"> '
                        html += '<a href="/Leave/LeaveApproval/' + response[i]["LeaveID"] + '?staffid=' + response[i]["StaffID"] + '" class="action-btns" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View"> <i class="feather feather-eye text-primary"> </i></a> </td>'

                        html += "</tr>"

                    }

                    $('#tbodyLeaves').html(html)



                }
            }, function (errorStatus) {
                console.log('Error:', errorStatus);
            });




        }




        function loadLoanrequest() {
            debugger

            var requestData = {};
            makeAjaxRequest("/Dashboard/StaffLoan", 'GET', requestData, false, function (response) {

                if (response != null) {
                    debugger

                    console.log(response)

                    var html = '';
                    for (var i = 0; i < response.length; i++) {
                        html += '<tr class="border-bottom">'
                        //    html += '<td class="text-center"><span class="avatar avatar-sm brround">' + (i + 1) + '</span></td>'

                        html += '<td class="font-weight-semibold fs-14"> '
                        html += '<div class="d-flex">'
                        html += '<img class="avatar avatar-md brround me-3" src ="' + response[i]["SnapPath"] + '" >'
                        html += '<div class="me-3 mt-0 mt-sm-1 d-block" >'
                        html += '<h6 class="mb-1 fs-14"> ' + response[i]["RegistrationNo"] + '  |  ' + response[i]["staffname"] + ' </h6>'
                        html += '<p class="text-muted mb-0 fs-12"> ' + response[i]["DepartmentTitle"] + ' | ' + response[i]["DesignationTitle"] + ' </p>'
                        html += '</div></div> </td>'

                        html += '<td class="font-weight-semibold fs-14"> '
                        html += '<div class="d-flex">'
                        html += '<div class="me-3 mt-0 mt-sm-1 d-block" >'
                        html += '<h6 class="mb-1 fs-14"> ' + response[i]["loanType"] + ' </h6>'
                        html += '<p class="text-muted mb-0 fs-12"> ' + response[i]["ApplicationDate"].split("T")[0].toString("dd-MMM-yyyy") + '</p>'
                        html += '</div></div> </td>'

                        html += '<td class="text-end"> '
                        html += '<a href="/Loan/LoanApproval/' + response[i]["LoanApplicationID"] + '?staffid=' + response[i]["StaffID"] + '" class="action-btns" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View"> <i class="feather feather-eye text-primary"> </i></a> </td>'

                        html += "</tr>"

                    }

                    $('#tbodyLoan').html(html)



                }
            }, function (errorStatus) {
                console.log('Error:', errorStatus);
            });




        }



        
        function loadCandiate() {
            debugger

            var requestData = { };
            makeAjaxRequest("/Dashboard/candidatePending", 'GET', requestData, false, function (response) {

                if (response != null) {
                    debugger

                    console.log(response)

                    var html = '';
                    for (var i = 0; i < response.length; i++) {
                        html += '<tr class="border-bottom">'
                        //    html += '<td class="text-center"><span class="avatar avatar-sm brround">' + (i + 1) + '</span></td>'

                        html += '<td class="font-weight-semibold fs-14"> '
                        html += '<div class="d-flex">'
                        html += '<img class="avatar avatar-md brround me-3" src ="' + response[i]["SnapPath"] + '" >'
                        html += '<div class="me-3 mt-0 mt-sm-1 d-block" >'
                        html += '<h6 class="mb-1 fs-14">  ' + response[i]["Name"] + ' </h6>'
                        html += '<p class="text-muted mb-0 fs-12"> ' + response[i]["Email"] + ' | ' + response[i]["Phone"] + ' </p>'
                        html += '</div></div> </td>'

                        html += '<td class="font-weight-semibold fs-14"> '
                        html += '<div class="d-flex">'
                        html += '<div class="me-3 mt-0 mt-sm-1 d-block" >'
                        html += '<h6 class="mb-1 fs-14"> ' + response[i]["Qualification"] + ' </h6>'
                        html += '<p class="text-muted mb-0 fs-12"> ' + response[i]["ApplyDate"].split("T")[0].toString("dd-MMM-yyyy") + '</p>'
                        html += '</div></div> </td>'

                        html += '<td class="text-end"> '
                        html += '<a href="/Candidate/CandidateDetails/' + response[i]["CandidateID"] + '" class="action-btns" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View"> <i class="feather feather-eye text-primary"> </i></a> </td>'

                        html += "</tr>"

                    }

                    $('#candidatebody').html(html)



                }
            }, function (errorStatus) {
                console.log('Error:', errorStatus);
            });




        }


    </script>

}
