
<style>
    canvas {
        max-width: 600px;
        margin: 20px auto;
    }


</style>

<!--Apply Leaves Modal -->
<div class="modal fade" id="applyleaves">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Apply Leaves</h5>
				<button  class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="leave-types">
					<div class="form-group">
						
						<input type="hidden" id="LeaveId" name="LeaveId" />
						<label class="form-label">Leaves Dates</label>
						<select name="projects"  class="form-control custom-select select2" id="daterange-categories">
							<option value="single">Single Leaves</option>
							<option value="multiple">Multiple Leaves</option>
						</select>
					</div>
					<div class="leave-content active" id="single">
                        <div class="row form-group">
                            <label class="form-label">Date Range:</label>
                            <div class="col-xl-12 col-md-12 col-lg-12" id="singledate">
                                <div class="input-group">
									<input id="StartDate" name="StartDate" type="date" class="form-control " placeholder="select date" />
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-12 col-lg-12">
                                <div class="input-group" hidden id="MultipleDate">
									<input id="EndDate" name="EndDate" type="date" class="form-control " placeholder="select date" />
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="form-group">
						<label class="form-label">Leaves Types</label>						
						<select id="LeaveTypeId" class="form-control">

						</select>	
					</div>
					<div class="form-group">
						<label class="form-label">Reason:</label>
						<textarea id="LeaveSubject" name="LeaveSubject" class="form-control" rows="2" placeholder="Some text here..."></textarea>
					</div>
					<div class="row form-group leavecheckbox">
						<div class="col-xl-6 col-md-12 col-lg-12 mt-2 half">
							<label class="custom-control custom-checkbox chkbox">
								<input type="checkbox" id="MarkAsHalfLeave" name="MarkAsHalfLeave" class="custom-control-input">
								<span class="custom-control-label">Half Leave</span>
							</label>
						</div>
						<div class="col-xl-6 col-md-12 col-lg-12 mt-2 short">
							<label class="custom-control custom-checkbox chkbox">
								<input type="checkbox" id="MarkAsShortLeave" name="MarkAsShortLeave" class="custom-control-input">
								<span class="custom-control-label">Short Leave</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="">
					<label class="mb-0 font-weight-semibold">Selected Days:</label>
					<span class="badge badge-success badge-pill ms-2" id="SelectedDays">0</span>
				</div>
				<div class="ms-auto">
					<button type="button" onclick="PostLeaveApplication()" class="btn btn-primary">Submit</button>
					<a  href="javascript:void(0);" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Apply Leaves Modal  -->

<!--UpComing Holiday Modal -->
<div class="modal fade" id="UpComingHolidayModelEvent">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upcoming Events</h5>
                <div class="card-options col-md-3">
                    <select id="sumaryMonthHoliday" class=" form-control custom-select select2">
                        <option value="0">All</option>
						<option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="table-responsive attendance_table mt-4">
								<table class="table mb-0 text-nowrap" style="max-height: 500px; overflow-y: scroll;">
									@*
                                    <thead>
                                        <tr>
                                            <th class="text-center">Date</th>
                                            <th class="text-center">Description</th>
                                        </tr>
                                    </thead>
									*@
									<tbody id="tblBodyUpComingHoliday" style="max-height: 500px; overflow-y: scroll;">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" data-bs-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End UpComing Holiday Modal -->

<!--Loan Management Modal -->
<div class="modal fade" id="LoanModelEvent">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
				<h5 class="modal-title">Loan Management</h5>
				
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="table-responsive attendance_table mt-4">
								<table class="table mb-0 text-nowrap">
									
									<tbody id="tblBodyLoanModal" style="max-height: 500px; overflow-y: scroll;">
                                    </tbody>
                                </table>
								
                            </div>
							<div id="LoanBalanceSummaryModal" class="row mb-0 pb-0">
							</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" data-bs-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Loan Management Modal -->

<!--UpComing Birthday Modal -->
<div class="modal fade" id="UpComingBirthdayModelEvent">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upcoming Events</h5>
                <div class="card-options col-md-3">
                    <select id="sumaryMonth" class=" form-control custom-select select2">
                        <option value="0">All</option>
						<option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="table-responsive attendance_table mt-4">
								<table class="table mb-0 text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="text-center">S.No</th>
                                            <th class="text-start">Employee</th>
                                            <th class="text-center">Date</th>
                                            <th class="text-center">Description</th>
                                        </tr>
                                    </thead>
									<tbody id="tblBodyUpComingBirthday" style="max-height: 500px; overflow-y: scroll;">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" data-bs-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End UpComing Birthday Modal -->

	<!--Page header-->
	<div class="page-header d-xl-flex d-block">
		<div class="page-leftheader">
			<div class="page-title">Employee<span class="font-weight-normal text-muted ms-2">Dashboard</span></div>
		</div>
		<div class="page-rightheader ms-md-auto">
			<div class="d-flex align-items-end flex-wrap my-auto end-content breadcrumb-end">
				 @*data-bs-target="#applyleaves"*@
				<div class="d-flex">
					<div class="header-datepicker me-3">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<i class="feather feather-calendar"></i>
								</div>
							</div><input id="DashboardCalender" class="form-control fc-datepicker" placeholder="19 Feb 2020" type="text">
								<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clockinmodal">Clock In</button>

							@*<button id="toggleClockButton" type="button" class="btn btn-primary" data-bs-toggle="button" aria-pressed="false">am/pm</button>*@
						</div>
					</div>
					<div class="header-datepicker me-3">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<i class="feather feather-clock"></i>
								</div><!-- input-group-text -->
							</div><!-- input-group-prepend -->
							<input id="tpBasic" type="text" placeholder="09:30:15 am" class="form-control input-small">
							<button id="toggleClockButton" type="button" class="btn btn-primary" data-bs-toggle="button" aria-pressed="false">am/pm</button>
						</div>
					</div><!-- wd-150 -->
				</div>
		
			</div>
		</div>
	</div>
	<!--End Page header-->

	<!--Row-->
	<div class="row">
		<div class="col-xl-3 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-7">
							<div class="mt-0 text-start">
								<h5 class="">Present</h5>
								<h3 id="PresentCount" class="mb-0 mt-auto text-primary">0</h3>
							</div>
						</div>
						<div class="col-5">
							<div class="icon1 bg-primary my-auto  float-end"> <i class=" IconCenterAlignment feather feather-box"></i> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-7">
							<div class="mt-0 text-start">
								<h5 class="">Paid Leave</h5>
								<h3 id="PaidLeaveCount" class="mb-0 mt-auto text-secondary">0</h3>
							</div>
						</div>
						<div class="col-5">
							<div class="icon1 bg-secondary my-auto  float-end"> <i class="IconCenterAlignment feather feather-briefcase"></i> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-7">
							<div class="mt-0 text-start">
								<h5 class="">Absent</h5>
								<h3 id="AbsentCount" class="mb-0 mt-auto text-danger">0</h3>
							</div>
						</div>
						<div class="col-5">
						<div class="icon1 bg-danger my-auto  float-end"> <i class="IconCenterAlignment feather feather-award"></i> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-7">
							<div class="mt-0 text-start">
								<h5 class="">Projects</h5>
								<h3 class="mb-0 mt-auto text-success">0</h3>
							</div>
						</div>
						<div class="col-5">
							<div class="icon1 bg-success my-auto  float-end"> <i class="IconCenterAlignment feather feather-file-text"></i> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Row-->
	<!--Row-->
	<div class="row">


	<div class="col-xl-8 col-md-12 col-lg-8">
		<div class="card">

			<div class="card-header border-bottom-0">
				<div class="card-title">Attendance Summary</div>
				<div class="card-options col-md-3">
					<select id="chartDate" class=" form-control custom-select select2">
						<option value="2023">2023</option>
						<option value="2024">2024</option>
						<option value="2025">2025</option>
						<option value="2026">2026</option>
						<option value="2027">2027</option>
						<option value="2028">2028</option>
						<option value="2029">2029</option>
					</select>
				</div>
			</div>


			<div class="card-body" style="padding-top: 45px;">


		
				<div style="height:305px;">
				  <div id="chartStackedAttendance" class="chartsh"></div>
				</div>

			</div>
		</div>
	</div>

	<div class="col-xl-4 col-lg-12 col-md-12">
		<div class="card overflow-hidden" style="height:443px">
				<div class="card-header border-0">
				
					<h4 class="card-title">Leave Balance</h4>
					<div class="card-options">
						@*<a href="javascript:void(0);" class="btn btn-outline-light">View All</a>*@
						<a onclick="openApplyLeaveModal()" href="javascript:void(0);" class="btn btn-primary me-3 mt-3 mt-lg-0 mb-3 mb-md-0" data-bs-toggle="modal">Apply Leave</a>
					</div>
				</div>
					<div class="loading-state-hr" id="cardEmptyleaveState">
                    <div class="loading-state-image-hr mb-3">
                        <img src="/assets/images/loading-state/leave.png" class="w-100 img-fluid" />
                    </div>
                    <span class="text-muted loading-state-text fs-18 d-block">No recent leaves found</span>
                </div>
			<div class="table-responsive leave_table fs-13 mt-5 table-scroll ">
					<table class="table mb-0 text-nowrap ">
					<thead class="border-top sticky-thead">
							<tr>
								<th class="text-start ">Balance</th>
								<th class="text-start ">Used</th>
							<th class="text-center ">Available</th>
							</tr>
						</thead>
						<tbody id="TblBodyLeaveBalance" >

						</tbody>
					</table>
					
				</div>
				<div id="LeaveBalanceSummary" class="row mb-0 pb-0">
					
				</div>
			</div>
		</div>

		
	</div>
	<div class="row">
		<div class="col-xl-8 col-lg-12 col-md-12">
			<div class="card">
				<div class="p-0">
					@*<div class="card-header border-0">
					<h4 class="card-title">Calendar</h4>
                </div>*@
					<div class="calendar p-4 pt-0">
						<div id="calendar1"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-12 col-md-12">
		<div class="card overflow-auto  " style="height: 601px;">
			<div class="card-header sticky-thead  border-0">
					<h4 class="card-title">Up Coming Holidays</h4>
					<div class="card-options">
					<a onclick="openUpComingHolidayView()" href="javascript:void(0);" class="btn btn-outline-light">View All</a>
					</div>
				</div>
			<div class="loading-state-hr" id="cardEmptyHolyState">
				<div class="loading-state-image-hr mb-3">
					<img src="/assets/images/loading-state/not-found.png" class="w-100 img-fluid" />
				</div>
				<span class="text-muted loading-state-text fs-18 d-block">No recent Loan found</span>
			</div>

				<div id="holidaysCard" class="card-body mt-1" >

				</div>
			</div>
		</div>
	</div>
	<div class="row">

	<div class="col-xl-4 col-lg-12 col-md-12">
		<div  class="card overflow-auto  " style="height: 470px;">
			<div class="card-header   border-bottom-0">
				<h4 class="card-title">Loan Management</h4>
				<div class="card-options">
					<a onclick="loadStaffLoanInfo('modal')" href="javascript:void(0);" class="btn btn-outline-light" data-bs-toggle="modal">View All</a>
				</div>
			</div>
			<div class="card-body p-3"  >
				<div class="table-responsive">
					<table class="table text-nowrap mb-0 text-nowrap">
						<tbody id="TblBodyLoan">
						</tbody>
					</table>
					<div class="loading-state-hr" id="cardEmptyLoanState">
						<div class="loading-state-image-hr mb-3">
							<img src="/assets/images/loading-state/loan.png" class="w-100 img-fluid" />
						</div>
						<span class="text-muted loading-state-text fs-18 d-block">No recent Loan found</span>
					</div>
				</div>
				<div id="LoanBalanceSummary" class="row mb-0 pb-0">
				</div>
			</div>
		</div>
	</div>


	  <div class="col-xl-4 col-md-12 col-lg-6">
		<div class="card overflow-auto  " style="height: 470px;">
            <div class="card-header  sticky-thead align-items-center py-3">
                <h4 class="card-title">Recent Activity</h4>
                <div class="card-options col-md-7">
                    <div class="form-group m-0">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="feather feather-calendar"></i>
                                </div>
                            </div><input id="activityDate" class="form-control fc-datepicker" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0 ">
                <div class="loading-state-hr" id="cardEmptyActivityState">
                    <div class="loading-state-image-hr mb-3">
                        <img src="/assets/images/loading-state/activity.png" class="w-100 img-fluid" />
                    </div>
                    <span class="text-muted loading-state-text fs-18 d-block">No recent activity found</span>
                </div>
                <ul id="CardActivity" class="timeline" >

                </ul>
            </div>
        </div>
    </div>

	<div class="col-xl-4 col-lg-12 col-md-12">
		<div class="card overflow-auto" style="height: 470px;">
				<div class="card-header sticky-thead border-bottom-0">
					<h4 class="card-title">Up Coming Birthdays</h4>
					<div class="card-options">
					<a onclick="openUpComingBirthdayView()" href="javascript:void(0);" class="btn btn-outline-light" data-bs-toggle="modal">View All</a>
					</div>
				</div>
				<div class="card-body p-1" >
					<div class="table-responsive">
						<table class="table text-nowrap mb-0 text-nowrap">
							<tbody id="TblBodyBirthday">

							</tbody>
						</table>
					<div class="loading-state-hr" id="cardEmptyBirthdayState">
                    <div class="loading-state-image-hr mb-3">
                        <img src="/assets/images/loading-state/birthday.png" class="w-100 img-fluid" />
                    </div>
                    <span class="text-muted loading-state-text fs-18 d-block">No recent birthday found</span>
                </div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		
	</div>
<!-- end app-content-->


@section scripts{
@*			<!-- INTERNAL Chart js -->
		<script src="~/assets/plugins/chart/chart.bundle.js"></script>
		<script src="~/assets/plugins/chart/utils.js"></script>

		<!-- INTERNAL Chartjs rounded-barchart -->
		<script src="~/assets/plugins/chart.min/chart.min.js"></script>
		<script src="~/assets/plugins/chart.min/rounded-barchart.js"></script>

		<!-- INTERNAL Apexchart js-->
		<script src="../assets/plugins/apexchart/apexcharts.js"></script>
	<script src="~/assets/js/custom.js"></script>*@
		

	<script>
		$(document).ready(function() {
		
			//$('#myonoffswitch2').prop('checked', true);
			//localStorage.setItem('dayonedarkMode', true);
			//localStorage.removeItem('dayonelightMode');
			//localStorage.removeItem('dayonetransparentMode');

			$('#DashboardCalender').val('@DateTime.Now.ToString("yyyy-MM-dd")')
			// Start the clock
			updateClock();

			var currentDate = new Date(); // Get the current date
			//$('#singledaterange').datepicker({
   //             dateFormat: 'yy M dd',
   //             autoHide: true
   //         });
		///	$('#singledaterange').datepicker('setDate', currentDate)

			$('#chartDate').val('@DateTime.Now.ToString("yyyy")')
			 $('#activityDate').datepicker('setDate', currentDate);

			StaffCalendarData()
			StaffCalendar()

			loadStaff_Attendance_Present_Leave()
			loadStaffMonthlyAttendanceGraph()
			loadStaffUpComingHoliday()
			
			loadStaffLeaveBalance_Statistics()
			loadStaffLeaveBalance_Summary()
			loadStaffLoanInfo('direct')
			loadStaffUpComingBirthdays()
			  loadStaffActivity(0);
			
			$('#chartDate').change(function () {
				loadStaffMonthlyAttendanceGraph()
            });

			$('#activityDate').change(function () {
				loadStaffActivity(0)
			});

		});

		$("#toggleClockButton").click(function() {
			debugger;
			var newText = $(this).text();

			if (newText !== 'am/pm') {
				newText = 'am/pm';
				$(this).text(newText);
			} else {
				newText = '24Hrs';
				$(this).text(newText);
			}
			updateClock()
		});

		function updateClock() {
			var now = new Date();
			var hours = now.getHours();
			var minutes = now.getMinutes();
			var seconds = now.getSeconds();
			var amOrPm = hours >= 12 ? 'pm' : 'am';

			// Add leading zeros to minutes and seconds
			minutes = minutes < 10 ? '0' + minutes : minutes;
			seconds = seconds < 10 ? '0' + seconds : seconds;

			var timeFormat = $("#toggleClockButton").text()

			if (timeFormat == 'am/pm') {
				// Convert to 12-hour format
				hours = hours % 12;
				hours = hours ? hours : 12;
    
				// Update the input field value
				document.getElementById('tpBasic').value = hours + ':' + minutes + ':' + seconds + ' ' + amOrPm;
			}
			else{
				// Update the input field value
				document.getElementById('tpBasic').value = hours + ':' + minutes + ':' + seconds;
			}

			// Schedule the next update after 1 second
			setTimeout(updateClock, 1000);
		  }

		function openApplyLeaveModal() {
			var statusCount = 0;
			var dropdown = $('#LeaveTypeId');
			var ddlHtml = ''
			
			var data = { }

			$.ajax({
				async: false,
					url: "/Dashboard/GetleaveTypeList",
				type: "GET",
				data: data,
				success: function (data) {
					if (data != "") {
						console.log(data)

						for (var i = 0; i < data.listleaveTypes.length; i++) {
							ddlHtml += '<option value="' + data.listleaveTypes[i].leaveTypeId + '">' + data.listleaveTypes[i].title + '</option>'
						}
						dropdown.html(ddlHtml);

						statusCount = data.listleaveTypes.length;
					}
				},
				error: function () 
				{
					statusCount = 0;
					//   toastr.error("Please Fill Required Field");
				}
			})
			if(statusCount > 0){
				debugger
				$("#applyleaves").modal('show')
			}
			
			return status;
		}

		$("#daterange-categories").change(function () {
            debugger;
            var leavecategory = $("#daterange-categories").val();
            if (leavecategory == "multiple") {
                //$("#StartDate").val("");
                //$("#EndDate").val("");
                $("#MultipleDate").attr("hidden", false);
                $("#singledate").attr("class", "col-xl-6 col-md-12 col-lg-12");
                $(".chkbox").addClass("chkboxdisable")
            }
            else {
                var strtdate = $("#StartDate").val();
                $("#EndDate").val(strtdate);
                $("#MultipleDate").attr("hidden", true);
                $("#singledate").attr("class", "col-xl-12 col-md-12 col-lg-12");
                $(".chkbox").removeClass("chkboxdisable")
            }
            DateRangeinDays($("#StartDate").val(), $("#EndDate").val());
        })

        $("#StartDate").change(function () {
            debugger;
            var leavecategory = $("#daterange-categories").val();
            if (leavecategory == "single") {
                var strtdate = $("#StartDate").val();
                $("#EndDate").val(strtdate);
            }
            else {
                $("#EndDate").val("");
            }
            DateRangeinDays($("#StartDate").val(), $("#EndDate").val());
        })

        $("#EndDate").change(function () {
            debugger;
            DateRangeinDays($("#StartDate").val(), $("#EndDate").val());
        })

		function DateRangeinDays(startdate, enddate) {
			debugger
			if (startdate != "" && enddate != "") {

				var startdate = new Date($("#StartDate").val());
				var enddate = new Date($("#EndDate").val());

				// end - start returns difference in milliseconds
				var diff = new Date(enddate - startdate);

				// get days
				var days = parseInt(diff / 1000 / 60 / 60 / 24) + 1;

				$("#SelectedDays").text(days);
			}
		}

		function CheckLeaveApplication() {
            debugger
            var status = true;

            if ($("#LeaveTypeId").val() == "") {

                $.growl.warning({
                    message: "Please Select Leave Type"
                });
                $("#LeaveTypeId").css("border-color", "red");
                status = false;
            }
            else if ($("#StartDate").val() == "" || $("#EndDate").val() == "") {
                $.growl.warning({
                    message: "Please Enter Date Range"
                });

                $("#StartDate").css("border-color", "red");
                $("#EndDate").css("border-color", "red");
                status = false;
            }
            else if ($("#LeaveSubject").val() == "") {
                $.growl.warning({
                    message: "Please Enter Reason"
                });

                $("#LeaveSubject").css("border-color", "red");
                status = false;
            }
            else {
                $("#LeaveTypeId").css("border-color", "#ddd");
                $("#StartDate").css("border-color", "#ddd");
                $("#EndDate").css("border-color", "#ddd");
                $("#LeaveSubject").css("border-color", "#ddd");
            }
            debugger

            var Data = { leavetypeid: $("#LeaveTypeId").val() }
            console.log(Data)
            $.ajax({
                async: false,
                url: "/Leave/CheckLeaveCountOnApply",
                type: "GET",
                data: Data,
                success: function (data) {
                    if (data >0) {
                        debugger
                        var selecteddays = $("#SelectedDays").text();
                        if (selecteddays > data) {
                            // $.growl.warning(b.message);
                            $.growl.warning({
                                message: "Selected days are greater than allowed leaves!!"
                            });
                            status = false;
                        }
                    }
                    else if(data == 0){
                        $.growl.warning({
                            message: "You have Consumed All leaves"
                        });
                        status = false;
                    }
                },
                error: function () {
                    status = false;
                    //   toastr.error("Please Fill Required Field");
                }
            })

            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });

            if (status) {
                swalWithBootstrapButtons.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    cancelButtonText: 'No, cancel!',
                    confirmButtonText: 'Yes, Save it!',
                    timer: 30000,
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
						PostLeaveApplication()
                    }
                    else if (
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                            'Cancelled',
                            'Your record is safe :)',
                            'error'
                        )
                    }
                });
            }
        }

		function PostLeaveApplication() {
			var status = false;

			var Data = { 
				leaveTypeId: $("#LeaveTypeId").val(),
				startDate: $("#StartDate").val(),
				endDate: $("#EndDate").val(),
				leaveSubject: $("#LeaveSubject").val(),
				markAsHalfLeave: $("#MarkAsHalfLeave").prop("checked"),
				markAsShortLeave: $("#MarkAsShortLeave").prop("checked")
			}
			console.log(Data)
			$.ajax({
				async: false,
				url: "/Dashboard/LeaveCreateOrUpdate",
				type: "GET",
				data: Data,
				success: function (data) {
					if (data != "") {
						console.log(data)
						status = data.success;
						var url = "/Dashboard/StaffDashboard";
						window.location.href = url;
					}
				},
				error: function () 
				{
					status = false;
					//   toastr.error("Please Fill Required Field");
				}
			})
			return status;
		}

		function loadStaffMonthlyAttendanceGraph() {
			var MonthName = []
			var PresentCount = []
			var AbsentCount = []
			var dateValue = $('#chartDate').val()
			var requestData = { currentDate: dateValue }

			makeAjaxRequest("/Dashboard/StaffMonthlyAttendance", 'GET', requestData, false, function (response) {
				if (response != null) {

					
					for (var i = 0; i < response.length; i++) {
						MonthName.push(response[i].MonthName);
						PresentCount.push(response[i].PresentCount);
						var totalAbsent = response[i].NonPaidLeaveCount + response[i].AbsentCount
						AbsentCount.push(totalAbsent);
					}
				}
				}, function (errorStatus) {
					console.log('Error:', errorStatus)
			});

			console.log(PresentCount)
			
                    var chartdata = [
                        
                        {
                            name: 'Attendance',
                            type: 'bar',
                            barWidth: 30,
							data: PresentCount/// [1, 2, 3, 6, 5, 30, 6, 4, 45,]
                        }
                    ];

			var chart = document.getElementById('chartStackedAttendance');

                    var barChart = echarts.init(chart);
					//  barChart.resize({ width: 1000 });

                    var option = {
                        grid: {
                            top: '10',
                            right: '0',
                            bottom: '80',
                            left: '50',
                        },
                        xAxis: {
					data: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                            axisLine: {
                                lineStyle: {
                                    color: 'rgba(67, 87, 133, .09)'
                                }
                            },
                            axisLabel: {
                                fontSize: 14,
                                color: '#8e9cad'
                            }
                        },

                        legend: {
                            show: true,
                            data: chartdata,
                            textStyle: {
                                fontSize: 14,
                                color: '#8e9cad'
                            },
                            orient: 'horizontal',
                            // Customize the legend position
                            left: 'center', // Set to 'left', 'center', 'right' or specify a pixel value
                            top: 'bottom', // Set to 'top', 'middle', 'bottom' or specify a pixel value


                        },
                        tooltip: {
                            show: true,
                            showContent: true,
                            alwaysShowContent: false,
                            triggerOn: 'mousemove',
                            trigger: 'axis',
                            axisPointer:
                            {
                                label: {
                                    show: false,
                                }
                            }

                        },
                        yAxis: {
                            splitLine: {
                                lineStyle: {
                                    color: 'rgba(67, 87, 133, .09)'
                                }
                            },
                            axisLine: {
                                lineStyle: {
                                    color: 'rgba(67, 87, 133, .09)'
                                }
                            },
                            axisLabel: {

                                fontSize: 14,
                                color: '#8e9cad'
								
                            }
								
                        },
                        series: chartdata,
                        color: ['#3366ff', '#01c353', '#fe7f00',]
                    };

                    barChart.setOption(option);
                    window.addEventListener('resize', function () {
                       barChart.resize();
                    })


		}
		
		function loadStaff_Attendance_Present_Leave() {
			var dateValue = $('#chartDate').val()
		
			var requestData = { currentDate: dateValue }

			makeAjaxRequest("/Dashboard/Staff_Attendance_Present_Leave", 'GET', requestData, false, function (response) {
				if (response != null) {
					$('#PresentCount').text(response[0].PresentCount)
					$('#PaidLeaveCount').text(response[0].PaidLeaveCount)
					$('#AbsentCount').text(response[0].AbsentCount)
				}
			}, function (errorStatus) {
				console.log('Error:', errorStatus)
			});
		}
	
		function loadStaffUpComingHoliday() {
			var dateValue = $('#chartDate').val()
			var requestData = { }
			makeAjaxRequest("/Dashboard/Staff_UpComingHolidays", 'GET', requestData, false, function (response) {
				if (response != null) {

					
                  response.length>0? $("#cardEmptyHolyState").hide():  $("#cardEmptyHolyState").show();


					var htmlHoliday = ''
					for (var i = 0; i < response.length && i < 4; i++) {
						//if (i = response.length - 1) {
						//	htmlHoliday += ' <div class="mb-5"> '
						//}
						//else{
						//	htmlHoliday += ' <div class="mb-5"> '
						//}
						htmlHoliday += ' <div class="mb-5"> '
						htmlHoliday += ' 	<div class="d-flex comming_holidays calendar-icon icons"> '
						htmlHoliday += ' 		<span class="date_time ' + response[i].SpanClass + ' bradius me-3"> '
						htmlHoliday += ' 			<span class="date fs-20"> ' + response[i].HolidayDayNumber + '</span>  '
						htmlHoliday += ' 			<span class="month fs-13">' + response[i].HolidayShortMonthName + '</span> '
						htmlHoliday += ' 		</span> '
						htmlHoliday += ' 		<div class="me-3 mt-0 mt-sm-1 d-block"> '
						htmlHoliday += ' 			<h6 class="mb-1 font-weight-semibold">' + response[i].HolidayType + '</h6> '
						htmlHoliday += ' 			<span class="clearfix"></span> '
						htmlHoliday += ' 			<small>' + response[i].DayWithTitle + '</small> '
						htmlHoliday += ' 		</div> '
						htmlHoliday += ' 		<p class="float-end text-muted  mb-0 fs-13 ms-auto bradius my-auto">' + response[i].DaysLeft + ' days left</p> '
						htmlHoliday += ' 	</div> '
						htmlHoliday += ' </div> '
					}

					$("#holidaysCard").html(htmlHoliday)
				}
				else
				{
				
				$("#cardEmptyHolyState").show();
				}
			}, function (errorStatus) {
				console.log('Error:', errorStatus)
			});
		}

		$('#sumaryMonthHoliday').change(function () {
			openUpComingHolidayView()
        });

		function openUpComingHolidayView(){
			$("#UpComingHolidayModelEvent").modal('show')
			var requestData = { };
			makeAjaxRequest("/Dashboard/Staff_UpComingHolidays", 'GET', requestData, true, function (response) {
                if (response != null) {
                    var htmlHoliday = ''
					var j = 0
					var monthNumber = 0
					monthNumber = $('#sumaryMonthHoliday').val()
                    for (var i = 0; i < response.length; i++) {	
						if (monthNumber == response[i].HolidayMonthNumber || monthNumber == 0) {
							debugger
							htmlHoliday += ' <div class="mb-5"> '
							htmlHoliday += ' 	<div class="d-flex comming_holidays calendar-icon icons"> '
							htmlHoliday += ' 		<span class="date_time ' + response[i].SpanClass + ' bradius me-3"> '
							htmlHoliday += ' 			<span class="date fs-20"> ' + response[i].HolidayDayNumber + '</span>  '
							htmlHoliday += ' 			<span class="month fs-13">' + response[i].HolidayShortMonthName + '</span> '
							htmlHoliday += ' 		</span> '
							htmlHoliday += ' 		<div class="me-3 mt-0 mt-sm-1 d-block"> '
							htmlHoliday += ' 			<h6 class="mb-1 font-weight-semibold">' + response[i].HolidayType + '</h6> '
							htmlHoliday += ' 			<span class="clearfix"></span> '
							htmlHoliday += ' 			<small>' + response[i].DayWithTitle + '</small> '
							htmlHoliday += ' 		</div> '
							htmlHoliday += ' 		<p class="float-end text-muted  mb-0 fs-13 ms-auto bradius my-auto">' + response[i].DaysLeft + ' days left</p> '
							htmlHoliday += ' 	</div> '
							htmlHoliday += ' </div> '
							//htmltable += '<tr class="border-bottom">'
							//htmltable += '<td class="text-center"> <span class="avatar avatar-sm brround" > ' + (j + 1) + ' </span></td>'
							//htmltable += '<td class="font-weight-semibold fs-14">'
							//htmltable += '<div class="d-flex">'
							//htmltable += '<img class="avatar avatar-md brround me-3" src = "' + response[i]["SnapPath"] + '" >'
							//htmltable += '<div class="me-3 mt-0 mt-sm-1 d-block" >'
							//htmltable += '<h6 class="mb-1 fs-14"> ' + response[i]["FullName"] + ' </h6>'
							//htmltable += '<p class="text-muted mb-0 fs-12"> ' + response[i]["DepartmentTitle"] + ' | ' + response[i]["DesignationTitle"] + ' </p>'
							//htmltable += '</div></div> </td>'
							//htmltable += '<td class="text-center" > <span class="badge bg-success-transparent"> ' + response[i]["BirthDay"] + ' </span></td>'
							//if (response[i].DayLeft == 0) {
							//	htmltable += '<td class="text-center" >Today</td></tr>'
							//}
							//else{
							//	htmltable += '<td class="text-center" > ' + response[i]["DayLeft"] + ' Days Left</td></tr>'
							//}
							//j++;
						}
                    }
					$('#tblBodyUpComingHoliday').html(htmlHoliday)
                }
            }, function (errorStatus) {
                console.log('Error:', errorStatus);
            });
		}

		function loadStaffLeaveBalance_Statistics() {
			var requestData = { }
			makeAjaxRequest("/Dashboard/Staff_LeaveBalance_Statistics", 'GET', requestData, false, function (response) {
				if (response != null) {
					response.length > 0 ? $("#cardEmptyleaveState").hide() : $("#cardEmptyleaveState").show();

					
					var htmlLeaveBalance = ''
					for (var i = 0; i < response.length; i++) {
						htmlLeaveBalance += ' <tr class="border-bottom fs-15"> '
						htmlLeaveBalance += ' 	<td class="text-center d-flex"><span class="bg-' + response[i].LeaveTypeCSSClass + ' brround d-block me-3 mt-1 h-3 w-3"></span><span class="font-weight-semibold fs-15">' + response[i].LeaveTypeTitle + '</span></td> '
						htmlLeaveBalance += ' 	<td class="font-weight-semibold fs-15">' + response[i].LeaveCount + '</td> '
						htmlLeaveBalance += ' 	<td class="text-center text-muted">' + response[i].RemainingLeaves + '</td> '
						htmlLeaveBalance += ' </tr> '
					}

					$("#TblBodyLeaveBalance").html(htmlLeaveBalance)
				}
			}, function (errorStatus) {
				console.log('Error:', errorStatus)
			});
		}

		function loadStaffLeaveBalance_Summary() {
			var requestData = { }
			makeAjaxRequest("/Dashboard/Staff_LeaveBalance_Summary", 'GET', requestData, false, function (response) {
				if (response != null) {
					var htmlLeaveBalance = ''
					for (var i = 0; i < response.length; i++) {
						htmlLeaveBalance += ' <div class="col-4 text-center py-5 border-end"> '
						htmlLeaveBalance += ' 	<h5>Paid</h5> '
						htmlLeaveBalance += ' 	<div class="justify-content-center text-center d-flex my-auto"><span class="text-primary fs-20 font-weight-semibold">' + response[i].PaidLeaveCount + ' </span></div> '
						htmlLeaveBalance += ' </div> '

						htmlLeaveBalance += ' <div class="col-4 text-center py-5 border-end"> '
						htmlLeaveBalance += ' 	<h5>Non Paid </h5> '
						htmlLeaveBalance += ' 	<div class="justify-content-center text-center d-flex my-auto"><span class="text-danger fs-20 font-weight-semibold">' + response[i].NonPaidLeaveCount + ' </span></div> '
						htmlLeaveBalance += ' </div> '

						htmlLeaveBalance += ' <div class="col-4 text-center py-5 border-end"> '
						htmlLeaveBalance += ' 	<h5>Allowed</h5> '
						htmlLeaveBalance += ' 	<div class="justify-content-center text-center d-flex my-auto"><span class="text-success fs-20 font-weight-semibold">' + response[i].AllowedLeaves + ' </span></div> '
						htmlLeaveBalance += ' </div> '
					}

					$("#LeaveBalanceSummary").html(htmlLeaveBalance)
				}
			}, function (errorStatus) {
				console.log('Error:', errorStatus)
			});
		}

		function loadStaffUpComingBirthdays() {
			var requestData = { }
			makeAjaxRequest("/Dashboard/Staff_UpComingBirthdays", 'GET', requestData, false, function (response) {
				if (response != null) {

					
                  response.length>0? $("#cardEmptyBirthdayState").hide():  $("#cardEmptyBirthdayState").show();

         
					
					var htmlBirthday = ''
					for (var i = 0; i < response.length && i < 5; i++) {
						debugger
						htmlBirthday += ' <tr> '
						htmlBirthday += ' 	<td class="d-flex"> '
						htmlBirthday += ' 		<img class="avatar avatar-md brround me-3" src="' + response[i]["SnapPath"] + '" alt="media1"> '
						htmlBirthday += ' 		<div class="my-auto"> '
						htmlBirthday += ' 			<a href="javascript:void(0);" class="mb-1 font-weight-semibold fs-16">' + response[i].FullName + '  </a> '
						htmlBirthday += '			<p class="text-muted fs-13 mb-0">' + response[i].BirthDay  + ' </p> <p  class="text-muted fs-13 mb-0">     ' + response[i].AgeInYears + ' Years Old</p> ';
						htmlBirthday += ' 		</div> '
						htmlBirthday += ' 	</td> '
						htmlBirthday += ' 	<td class="text-end"> '

						if (response[i].DayLeft == 0) {
							htmlBirthday += ' 		<a class="text-success d-block fs-16" href="javascript:void(0);">Today</a> '
							htmlBirthday += ' 		<a style="display:none"  class="btn btn-outline-orange mt-1" href="javascript:void(0);"><i class="fa fa-birthday-cake me-2"></i>Wish Now</a> '
						}
						else {
							htmlBirthday += ' 		<a class="text-muted d-block" href="javascript:void(0);">' + response[i].DayLeft + ' Days Left</a> '
						}
						
						htmlBirthday += ' 	</td> '
						htmlBirthday += ' </tr> '
					}

					$("#TblBodyBirthday").html(htmlBirthday)
				}
				else
				{
					$("#cardEmptyBirthdayState").show();
				
				}
			}, function (errorStatus) {
				console.log('Error:', errorStatus)
			});
		}

		$('#sumaryMonth').change(function () {
			openUpComingBirthdayView()
        });

		function openUpComingBirthdayView() {
			$("#UpComingBirthdayModelEvent").modal('show')
            var requestData = { month: $('#sumaryMonth').val() };
            makeAjaxRequest("/Dashboard/Staff_UpComingBirthdays", 'GET', requestData, true, function (response) {
                if (response != null) {
                    //var html = ' <ul class="vertical-scroll">';
                    //$('#EventBoarddata').html('')
                    //var html = '';
                    //var colors = ["bg-success", "bg-danger", "bg-primary", "bg-warning"]; // List of predefined colors
                    var htmltable = ''
					var j = 0
					var monthNumber = 0
					monthNumber = $('#sumaryMonth').val()
                    for (var i = 0; i < response.length; i++) {	
						if (monthNumber == response[i].BirthMonthNumber || monthNumber == 0) {
							//var randomColor = colors[Math.floor(Math.random() * colors.length)];
							//html += '<li class="item"> <div class="pt-2">	<div class="list-group">'
							//html += '<div class="list-group-item d-flex pt-1 pb-1 border-0">'
							//html += '<div class="me-3 me-xs-0">'
							//html += '<div class="calendar-icon icons">'
							//html += '<div class="date_time ' + randomColor + '"> <span class="date">  ' + response[i]["dayof"] + ' </span> <span class="month">' + response[i]["Monthof"] + '</span > </div></div></div>'
							//html += '<div class="ms-1">'
							//html += '<div class="h5 fs-14 mb-1" > ' + response[i]["EmployeeName"] + ' </div> <small class="text-muted">' + response[i]["description"] + '</small ></div></div></div></div> '
							//html += '</li>';

							///model tabel load

							htmltable += '<tr class="border-bottom">'
							htmltable += '<td class="text-center"> <span class="avatar avatar-sm brround" > ' + (j + 1) + ' </span></td>'
							htmltable += '<td class="font-weight-semibold fs-14">'
							htmltable += '<div class="d-flex">'
							htmltable += '<img class="avatar avatar-md brround me-3" src = "' + response[i]["SnapPath"] + '" >'
							htmltable += '<div class="me-3 mt-0 mt-sm-1 d-block" >'
							htmltable += '<h6 class="mb-1 fs-14"> ' + response[i]["FullName"] + ' </h6>'
							htmltable += '<p class="text-muted mb-0 fs-12"> ' + response[i]["DepartmentTitle"] + ' | ' + response[i]["DesignationTitle"] + ' </p>'
							htmltable += '</div></div> </td>'
							htmltable += '<td class="text-center" > <span class="badge bg-success-transparent"> ' + response[i]["BirthDay"] + ' </span></td>'
							if (response[i].DayLeft == 0) {
								htmltable += '<td class="text-center" >Today</td></tr>'
							}
							else{
								htmltable += '<td class="text-center" > ' + response[i]["DayLeft"] + ' Days Left</td></tr>'
							}
							j++;
						}
                    }

                    //$('#EventBoarddata').html(html)
					$('#tblBodyUpComingBirthday').html(htmltable)
                }
            }, function (errorStatus) {
                console.log('Error:', errorStatus);
            });
        }

		function loadStaffLoanInfo(directOpen) {			
			var requestData = { }
			makeAjaxRequest("/Dashboard/Staff_Loan_Statistics", 'GET', requestData, false, function (response) {
				if (response != null) {
					response.length>0? $("#cardEmptyLoanState").hide():  $("#cardEmptyLoanState").show();


					
					var htmlLoan = ''
					var totalLoanAmount = 0
					var totalLoanRepaymentAmount = 0
					var totalLoanRemainingAmount = 0
					//for (var i = 0; i < response.length && i < 5; i++) {
					for (var i = 0; i < response.length && i < (directOpen == 'direct' ? 3 : response.length) ; i++) {
						htmlLoan += ' <tr> '
						htmlLoan += ' 	<td class="d-flex"> '
						htmlLoan += ' 		<img class="avatar avatar-md brround me-3" src="' + response[i]["SnapPath"] + '" alt="media1"> '
						htmlLoan += ' 		<div class="my-auto"> '
						htmlLoan += ' 			<a href="javascript:void(0);" class="mb-1 font-weight-semibold fs-16">' + response[i].LoanTypeTitle + ' | Amount: ' + response[i].LoanAmount.toLocaleString() + '</a> '
						htmlLoan += '			<p class="text-muted fs-13 mb-0">Total Installments: ' + response[i].NoOfInstallments + ' | Paid: ' + response[i].LoanRepaymentInstallment + '</p> ';
						htmlLoan += '			<div class="progress progress-md"> '
						htmlLoan += ' 				<div class="progress-bar bg-primary" style="width: ' + response[i].LoanRepaymentPercent + '%"> ' + Math.round(response[i].LoanRepaymentPercent * 10) / 10 + '%</div> '
						htmlLoan += '			</div>  '
						htmlLoan += ' 		</div> '
						htmlLoan += ' 	</td> '
						htmlLoan += ' 	<td class="text-end"> '

						if (response[i].LoanStatus == 'Approved') {
							htmlLoan += ' 		<a class="text-muted d-block fs-16" href="javascript:void(0);">' + response[i].LoanRepaymentAmount.toLocaleString() + ' Paid</a> '
						}
						else if (response[i].LoanStatus == 'Paid') {
							htmlLoan += ' 		<a class="text-primary d-block" href="javascript:void(0);">' + response[i].LoanRepaymentAmount.toLocaleString() + ' ' + response[i].LoanStatus + '</a> '
						}
						else if (response[i].LoanStatus == 'Not Paid') {
							htmlLoan += ' 		<a class="text-muted d-block" href="javascript:void(0);">' + response[i].LoanStatus + '</a> '
						}
						else if (response[i].LoanStatus == 'Rejected') {
							htmlLoan += ' 		<a class="text-orange d-block" href="javascript:void(0);">' + response[i].LoanStatus + '</a> '
						}
						//if (response[i].LoanStatusID == 1 && response[i].LoanRemainigAmount > 0 && response[i].LoanRepaymentAmount > 0) {
						//	htmlLoan += ' 		<a class="text-muted d-block fs-16" href="javascript:void(0);">' + response[i].LoanRepaymentAmount.toLocaleString() + ' Paid</a> '
						//}
						//else if(response[i].LoanStatusID == 1 && response[i].LoanRemainigAmount == 0 && response[i].LoanRepaymentAmount > 0){
						//	htmlLoan += ' 		<a class="text-primary d-block" href="javascript:void(0);">' + response[i].LoanRepaymentAmount.toLocaleString() + ' Paid</a> '
						//}
						//else if (response[i].LoanStatusID == 1 && response[i].LoanRemainigAmount > 0 && response[i].LoanRepaymentAmount == 0) {
						//	htmlLoan += ' 		<a class="text-muted d-block" href="javascript:void(0);">Not Paid</a> '
						//}
						//else if (response[i].LoanStatusID == 2) {
						//	htmlLoan += ' 		<a class="text-orange d-block" href="javascript:void(0);">Rejected</a> '
						//}
						htmlLoan += ' 	</td> '
						htmlLoan += ' </tr> '
						
						totalLoanRepaymentAmount += response[i].LoanRepaymentAmount
						totalLoanAmount += response[i].LoanAmount
						totalLoanRemainingAmount = totalLoanAmount - totalLoanRepaymentAmount
					}

					// Loan Balance Summary
					var htmlLoanBalance = ''
					htmlLoanBalance += ' <div class="col-4 text-center py-5 border-end"> '
					htmlLoanBalance += ' 	<h5>Paid</h5> '
					htmlLoanBalance += ' 	<div class="justify-content-center text-center d-flex my-auto"><span class="text-primary fs-20 font-weight-semibold">' + totalLoanRepaymentAmount.toLocaleString() + ' </span></div> '
					htmlLoanBalance += ' </div> '

					htmlLoanBalance += ' <div class="col-4 text-center py-5 border-end"> '
					htmlLoanBalance += ' 	<h5>Remaining</h5> '
					htmlLoanBalance += ' 	<div class="justify-content-center text-center d-flex my-auto"><span class="text-danger fs-20 font-weight-semibold">' + totalLoanRemainingAmount.toLocaleString() + ' </span></div> '
					htmlLoanBalance += ' </div> '

					htmlLoanBalance += ' <div class="col-4 text-center py-5 border-end"> '
					htmlLoanBalance += ' 	<h5>Total</h5> '
					htmlLoanBalance += ' 	<div class="justify-content-center text-center d-flex my-auto"><span class="text-success fs-20 font-weight-semibold">' + totalLoanAmount.toLocaleString() + ' </span></div> '
					htmlLoanBalance += ' </div> '
					
					if(directOpen == 'direct'){
						$("#TblBodyLoan").html(htmlLoan)
						$("#LoanBalanceSummary").html(htmlLoanBalance)
					}
					else if(directOpen == 'modal'){
						$("#tblBodyLoanModal").html(htmlLoan)
						$("#LoanBalanceSummaryModal").html(htmlLoanBalance)

						$("#LoanModelEvent").modal('show')
					}
				}
			}, function (errorStatus) {
				console.log('Error:', errorStatus)
			});
		}

		/*---- Full Calendar -----*/
		var FinalDates = []
		var FinalTitle = []
		var FinalClass = []

		function StaffCalendar() {
			debugger
            var calendarEl = document.getElementById('calendar1');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev',
                    center: 'title',
                    right: 'next'
                },

				// Add click events for prev and next buttons
				datesSet: function (info) {
					var prevButton = calendarEl.querySelector('.fc-prev-button');
					var nextButton = calendarEl.querySelector('.fc-next-button');

					prevButton.addEventListener('click', function () {
						debugger
						var currentDate = calendar.getDate();
						var monthNumber = currentDate.getMonth() + 1;
						var year = currentDate.getFullYear();
						
						// Handle prev button click event
						//console.log('Previous button clicked');						
					});

					nextButton.addEventListener('click', function () {
						debugger
						var currentDate = calendar.getDate();
						var monthNumber = currentDate.getMonth() + 1;
						var year = currentDate.getFullYear();
						
						// Handle next button click event
						//console.log('Next button clicked');
					});
				},

                //navLinks: true, // can click day/week names to navigate views
                businessHours: true, // display business hours
                editable: true,
                selectable: true,
                eventClick: function (arg) {
                    debugger

                    //if (confirm('Are you sure you want to delete this event?')) {
                    //    arg.event.remove()
                    //}
                },
                dateClick: function (info) {
                    debugger;
                    var clickedDate = info.date;
                    // alert('Clicked date: ');
                },
                viewRender: function (view) {
                    debugger;
                    //  var monthName = view.title;
                    // alert('Month changed to: ');
                },
                editable: true,
                dayMaxEvents: true, // allow "more" link when too many events
                eventRender: function (event, element) {
                    debugger;
                    if ((event.description).toString() == "Halfday") {
                        element.find(".fc-event-time").after($("<span class=\"fc-event-icons\"></span>").html("<i class='fe fe-view'></i> "));
                    }
                },
				
				events: FinalTitle.map(function (title, index) {
					return {

						title: (FinalClass[index] == "" || FinalClass[index] == null) ? '' : FinalTitle[index],
						start: (FinalClass[index] == "" || FinalClass[index] == null) ? '' : FinalDates[index],
						color: (FinalClass[index] == "" || FinalClass[index] == null) ? '' : FinalClass[index],
						textColor: 'black'
					};
				})

            });
            calendar.render();
        }

		function StaffCalendarData(monthNumber, year){
			debugger
			var requestData = { } //{ month: monthNumber, year: year }
			makeAjaxRequest("/Dashboard/Staff_Attendance_Calendar", 'GET', requestData, false, function (response) {
				if (response != null) {
					for (var i = 0; i < response.length; i++) {
						if(response[i].FinalTitle != null){
							FinalDates = response.map(function (item) {
								return item.MonthDate;
							});
							FinalTitle = response.map(function (item) {
								return item.FinalTitle;
							});
							FinalClass = response.map(function (item) {
								return item.FinalClass;
							});
						}
					}
				}
				}, function (errorStatus) {
					console.log('Error:', errorStatus)
			});
		}

		        function loadStaffActivity(staffId) {
            var dateValue = $("#activityDate").val()
            var requestData = { staffId:staffId, currentDate: dateValue }
            makeAjaxRequest("/Staff/Staff_Activity", 'GET', requestData, false, function (response) {
                if (response != null) {

                  response.length>0? $("#cardEmptyActivityState").hide():  $("#cardEmptyActivityState").show();

         
                    debugger
                    var htmlActivity = ''
                    for (var i = 0; i < response.length; i++) {
                        htmlActivity += ' <li class="' + response[i].CssClass + '"> '
                        htmlActivity += '     <a target="_blank" href="javascript:void(0);" class="font-weight-semibold fs-15 ms-3">' + response[i].Heading + '</a> '
                        htmlActivity += '     <a href="javascript:void(0);" class="text-muted float-end fs-13">' + response[i].Ago + ' min ago</a> '
                        htmlActivity += '     <p class="mb-0 pb-0 text-muted pt-1 fs-11 ms-3">' + response[i].Title + '</p> '
                        //htmlActivity += '     <span class="text-muted  ms-3 fs-11"> On Monday 12 Jan 2020.</span> '
                        htmlActivity += ' </li> '
                    }

                    $("#CardActivity").html(htmlActivity)
                }
            }, function (errorStatus) {
                console.log('Error:', errorStatus)
            });
        }

	</script>
}



