
@{
    ViewData["Title"] = "Attendance View";
}


<style>

	.rotate {
		animation: rotation 4s infinite linear;
	}

	@@keyframes rotation {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(359deg);
		}
	}
</style>

<!-- Row-->
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header  border-0">
				<h4 class="card-title">Attendance View</h4>
				<div class="page-rightheader ms-md-auto">
					<div class="d-flex align-items-end flex-wrap my-auto end-content breadcrumb-end">

						<div class="d-lg-flex">
							<div class="btn-list">

								<button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="E-mail"> <i class="feather feather-mail"></i> </button>
								<button class="btn btn-light" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
								<button class="btn btn-primary" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body pt-0 pb-3">
				<div class="row mb-0 pb-0">
					<div class="col-md-6 col-lg-2 text-center py-5">
						<span class="avatar avatar-md bradius fs-20 bg-primary-transparent">31</span>
						<h5 class="mb-0 mt-3">Total Working Days</h5>
					</div>
					<div class="col-md-6 col-lg-2 text-center py-5 ">
						<span class="avatar avatar-md bradius fs-20 bg-success-transparent">24</span>
						<h5 class="mb-0 mt-3">Present Days</h5>
					</div>
					<div class="col-md-6 col-lg-2 text-center py-5">
						<span class="avatar avatar-md bradius fs-20 bg-danger-transparent">2</span>
						<h5 class="mb-0 mt-3">Absent Days</h5>
					</div>
					<div class="col-md-6 col-lg-2 text-center py-5">
						<span class="avatar avatar-md bradius fs-20 bg-warning-transparent">0</span>
						<h5 class="mb-0 mt-3">Half Days</h5>
					</div>
					<div class="col-md-6 col-lg-2 text-center py-5 ">
						<span class="avatar avatar-md bradius fs-20 bg-orange-transparent">2</span>
						<h5 class="mb-0 mt-3">Late Days</h5>
					</div>
					<div class="col-md-6 col-lg-2 text-center py-5">
						<span class="avatar avatar-md bradius fs-20 bg-pink-transparent">5</span>
						<h5 class="mb-0 mt-3">Holidays</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Row-->
<!-- Row -->
<div class="row">
	<div class="col-xl-12 col-md-12 col-lg-12">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-3 col-lg-3">
						<div class="form-group">
							<label class="form-label">Employee Name:</label>
							<select id="IdEmployee" name="IdEmployee" class="form-control custom-select select2">
								<option value="">Select Employee</option>
								@foreach (var item in ViewBag.Stafflist)
								{
									<option value="@item.StaffId">@item.FirstName</option>
								}
							</select>
						</div>
					</div>
					<div class="col-md-3 col-lg-3">
						<div class="form-group">
							<label class="form-label">Department Name:</label>
							<select id="IdDepartment" name="IdDepartment" class="form-control custom-select select2">
								<option value="">Select Department</option>
								@foreach (var item in ViewBag.ListDepartment)
								{
									<option value="@item.DepartmentId">@item.Title</option>
								}
							</select>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label class="form-label">From:</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="feather feather-calendar"></i>
									</div>
								</div>

								<input id="fromdate" name="fromdate" class="form-control fc-datepicker " type="text">

							</div>
						</div>
					</div>
					<div class="col-md-2">
						
							<div class="form-group">
								<label class="form-label">To:</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="feather feather-calendar"></i>
										</div>
									</div>	<input id="todate" name="todate" class="form-control fc-datepicker " type="text">
								</div>
							</div>
					</div>
					<div class="col-md-2">
						<div class="form-group mt-5">
							
							<button class="btn btn-primary" id="searchbtn"> <i id="loadinging" class="si si-magnifier"></i>    Search  </button>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table  table-vcenter text-nowrap table-bordered border-bottom table-striped" id="hr-attendance1">
						<thead>
							<tr>
								<th rowspan="2" class="w-5 border-bottom-0 ">Emp ID</th>
								<th rowspan="2" class="border-bottom-0 ">Emp Name</th>
								<th rowspan="2" class="text-center border-bottom-0 ">Last Absent</th>
								<th colspan="8" class="text-center">Leaves</th>
								<th rowspan="2" class="text-center border-bottom-0 ">Credit Leaves</th>
								<th rowspan="2" class="text-center border-bottom-0 ">Status</th>
								<th rowspan="2" class="text-center border-bottom-0 ">Action</th>
							</tr>
							<tr>
								<th class="w-5 text-center border-bottom-0 ">Half Day</th>
								<th class="w-5 text-center border-bottom-0 ">Sick</th>
								<th class="w-5 text-center border-bottom-0 ">Casual</th>
								<th class="w-5 text-center border-bottom-0 ">Maternity</th>
								<th class="w-5 text-center border-bottom-0 ">Paternity</th>
								<th class="w-5 text-center border-bottom-0 ">Annual</th>
								<th class="w-5 text-center border-bottom-0 ">Unpaid</th>
								<th class="w-5 text-center border-bottom-0 ">Other</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>#2987</td>
								<td>
									<div class="d-flex">
										<span class="avatar avatar brround me-3" style="background-image: url(../assets/images/users/1.jpg)"></span>
										<div class="me-3 mt-0 mt-sm-2 d-block">
											<h6 class="mb-1 fs-14">Faith Harris</h6>
										</div>
									</div>
								</td>
								<td class="text-center"><span class="badge badge-danger-light">4 days</span></td>
								<td class="text-center">1</td>
								<td class="text-center">0</td>
								<td class="text-center">4</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">21</td>
								<td class="text-center"><span class="badge badge-success">Active</span></td>
								<td class="text-center">
									<a class="btn btn-light btn-icon btn-sm" href="hr-overviewcldr.html" data-bs-toggle="tooltip" data-original-title="View">
										<i class="feather feather-eye"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>#4987</td>
								<td>
									<div class="d-flex">
										<span class="avatar avatar brround me-3" style="background-image: url(../assets/images/users/9.jpg)"></span>
										<div class="me-3 mt-0 mt-sm-2 d-block">
											<h6 class="mb-1 fs-14">Austin Bell</h6>
										</div>
									</div>
								</td>
								<td class="text-center"><span class="badge badge-success-light">Never</span></td>
								<td class="text-center">3</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">21</td>
								<td class="text-center"><span class="badge badge-success">Active</span></td>
								<td class="text-center">
									<a class="btn btn-light btn-icon btn-sm" href="hr-overviewcldr.html" data-bs-toggle="tooltip" data-original-title="View">
										<i class="feather feather-eye"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>#6729</td>
								<td>
									<div class="d-flex">
										<span class="avatar avatar brround me-3" style="background-image: url(../assets/images/users/2.jpg)"></span>
										<div class="me-3 mt-0 mt-sm-2 d-block">
											<h6 class="mb-1 fs-14">Maria Bower</h6>
										</div>
									</div>
								</td>
								<td class="text-center"><span class="badge badge-danger-light">8 days</span></td>
								<td class="text-center">1</td>
								<td class="text-center">4</td>
								<td class="text-center">4</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">21</td>
								<td class="text-center"><span class="badge badge-success">Active</span></td>
								<td class="text-center">
									<a class="btn btn-light btn-icon btn-sm" href="hr-overviewcldr.html" data-bs-toggle="tooltip" data-original-title="View">
										<i class="feather feather-eye"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>#2098</td>
								<td>
									<div class="d-flex">
										<span class="avatar avatar brround me-3" style="background-image: url(../assets/images/users/10.jpg)"></span>
										<div class="me-3 mt-0 mt-sm-2 d-block">
											<h6 class="mb-1 fs-14">Peter Hill</h6>
										</div>
									</div>
								</td>
								<td class="text-center"><span class="badge badge-success-light">Never</span></td>
								<td class="text-center">1</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">21</td>
								<td class="text-center"><span class="badge badge-success">Active</span></td>
								<td class="text-center">
									<a class="btn btn-light btn-icon btn-sm" href="hr-overviewcldr.html" data-bs-toggle="tooltip" data-original-title="View">
										<i class="feather feather-eye"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td> #1025</td>
								<td>
									<div class="d-flex">
										<span class="avatar avatar brround me-3" style="background-image: url(../assets/images/users/3.jpg)"></span>
										<div class="me-3 mt-0 mt-sm-2 d-block">
											<h6 class="mb-1 fs-14">Victoria Lyman</h6>
										</div>
									</div>
								</td>
								<td class="text-center"><span class="badge badge-success-light">Never</span></td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">21</td>
								<td class="text-center"><span class="badge badge-success">Active</span></td>
								<td class="text-center">
									<a class="btn btn-light btn-icon btn-sm" href="hr-overviewcldr.html" data-bs-toggle="tooltip" data-original-title="View">
										<i class="feather feather-eye"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>#3262</td>
								<td>
									<div class="d-flex">
										<span class="avatar avatar brround me-3" style="background-image: url(../assets/images/users/11.jpg)"></span>
										<div class="me-3 mt-0 mt-sm-2 d-block">
											<h6 class="mb-1 fs-14">Adam Quinn</h6>
										</div>
									</div>
								</td>
								<td class="text-center"><span class="badge badge-danger-light">10 days</span></td>
								<td class="text-center">0</td>
								<td class="text-center">5</td>
								<td class="text-center">4</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">1</td>
								<td class="text-center">0</td>
								<td class="text-center">21</td>
								<td class="text-center"><span class="badge badge-success">Active</span></td>
								<td class="text-center">
									<a class="btn btn-light btn-icon btn-sm" href="hr-overviewcldr.html" data-bs-toggle="tooltip" data-original-title="View">
										<i class="feather feather-eye"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>#3489</td>
								<td>
									<div class="d-flex">
										<span class="avatar avatar brround me-3" style="background-image: url(../assets/images/users/4.jpg)"></span>
										<div class="me-3 mt-0 mt-sm-2 d-block">
											<h6 class="mb-1 fs-14">Melanie Coleman</h6>
										</div>
									</div>
								</td>
								<td class="text-center"><span class="badge badge-danger-light">2 days</span></td>
								<td class="text-center">1</td>
								<td class="text-center">0</td>
								<td class="text-center">2</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">21</td>
								<td class="text-center"><span class="badge badge-success">Active</span></td>
								<td class="text-center">
									<a class="btn btn-light btn-icon btn-sm" href="hr-overviewcldr.html" data-bs-toggle="tooltip" data-original-title="View">
										<i class="feather feather-eye"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>#3698</td>
								<td>
									<div class="d-flex">
										<span class="avatar avatar brround me-3" style="background-image: url(../assets/images/users/12.jpg)"></span>
										<div class="me-3 mt-0 mt-sm-2 d-block">
											<h6 class="mb-1 fs-14">Max Wilson</h6>
										</div>
									</div>
								</td>
								<td class="text-center"><span class="badge badge-danger-light">4 days</span></td>
								<td class="text-center">1</td>
								<td class="text-center">4</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">21</td>
								<td class="text-center"><span class="badge badge-success">Active</span></td>
								<td class="text-center">
									<a class="btn btn-light btn-icon btn-sm" href="hr-overviewcldr.html" data-bs-toggle="tooltip" data-original-title="View">
										<i class="feather feather-eye"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>#5612</td>
								<td>
									<div class="d-flex">
										<span class="avatar avatar brround me-3" style="background-image: url(../assets/images/users/5.jpg)"></span>
										<div class="me-3 mt-0 mt-sm-2 d-block">
											<h6 class="mb-1 fs-14">Amelia Russell</h6>
										</div>
									</div>
								</td>
								<td class="text-center"><span class="badge badge-danger-light">1 day</span></td>
								<td class="text-center">1</td>
								<td class="text-center">0</td>
								<td class="text-center">1</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">21</td>
								<td class="text-center"><span class="badge badge-success">Active</span></td>
								<td class="text-center">
									<a class="btn btn-light btn-icon btn-sm" href="hr-overviewcldr.html" data-bs-toggle="tooltip" data-original-title="View">
										<i class="feather feather-eye"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>#0245</td>
								<td>
									<div class="d-flex">
										<span class="avatar avatar brround me-3" style="background-image: url(../assets/images/users/13.jpg)"></span>
										<div class="me-3 mt-0 mt-sm-2 d-block">
											<h6 class="mb-1 fs-14">Justin Metcalfe</h6>
										</div>
									</div>
								</td>
								<td class="text-center"><span class="badge badge-success-light">Never</span></td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">21</td>
								<td class="text-center"><span class="badge badge-success">Active</span></td>
								<td class="text-center">
									<a class="btn btn-light btn-icon btn-sm" href="hr-overviewcldr.html" data-bs-toggle="tooltip" data-original-title="View">
										<i class="feather feather-eye"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>#3467</td>
								<td>
									<div class="d-flex">
										<span class="avatar avatar brround me-3" style="background-image: url(../assets/images/users/6.jpg)"></span>
										<div class="me-3 mt-0 mt-sm-2 d-block">
											<h6 class="mb-1 fs-14">Sophie Anderson</h6>
										</div>
									</div>
								</td>
								<td class="text-center"><span class="badge badge-danger-light">2 days</span></td>
								<td class="text-center">1</td>
								<td class="text-center">0</td>
								<td class="text-center">2</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">21</td>
								<td class="text-center"><span class="badge badge-success">Active</span></td>
								<td class="text-center">
									<a class="btn btn-light btn-icon btn-sm" href="hr-overviewcldr.html" data-bs-toggle="tooltip" data-original-title="View">
										<i class="feather feather-eye"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>#2987</td>
								<td>
									<div class="d-flex">
										<span class="avatar avatar brround me-3" style="background-image: url(../assets/images/users/14.jpg)"></span>
										<div class="me-3 mt-0 mt-sm-2 d-block">
											<h6 class="mb-1 fs-14">Ryan Young</h6>
										</div>
									</div>
								</td>
								<td class="text-center"><span class="badge badge-danger-light">1 day</span></td>
								<td class="text-center">1</td>
								<td class="text-center">0</td>
								<td class="text-center">1</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">0</td>
								<td class="text-center">21</td>
								<td class="text-center"><span class="badge badge-success">Active</span></td>
								<td class="text-center">
									<a class="btn btn-light btn-icon btn-sm" href="hr-overviewcldr.html" data-bs-toggle="tooltip" data-original-title="View">
										<i class="feather feather-eye"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Row-->


@section scripts{

    <script>
   $(document).ready(function () {


			$("#IdEmployee,#IdDepartment").select2();
		  var currentDate = new Date(); // Get the current date
			var firstDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
			var lastDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0);
			$('#fromdate').datepicker({
				dateFormat: 'dd M yy',
				autoHide: true



			});

			$('#fromdate').datepicker('setDate', firstDayOfMonth);

			$('#todate').datepicker({
               dateFormat: 'dd M yy',
				autoHide: true



            });
			$('#todate').datepicker('setDate', lastDayOfMonth);




			$('#searchbtn').click(function () {
				// Code to be executed when the button is clicked
				LoadAttendance();
			});

			

        });

			function LoadAttendance() {			

			$("#loadinging").removeClass("si");
			$("#loadinging").removeClass("si-magnifier");

			$("#loadinging").addClass("fe fe-refresh-ccw rotation");
			

			

		
			var obj = {
				Staffid: $("#IdEmployee").val(),
				DepartmentId: $("#IdDepartment").val(),
				datefrom: $("#fromdate").val(),
				dateTo: $("#todate").val()

			}




			$.ajax({
				url: "/Attentance/AttendanceLeaveWiseList",
				type: "GET",
				async: false,
				data: obj,
				success: function (data) {

						if (data != null) {
							// Clear the existing table
							$('#hr-attendance').empty();

							var columns = Object.keys(data[0]);

							// Move the last two columns to the start
							var lastTwoColumns = columns.splice(-2);
							columns = lastTwoColumns.concat(columns);


							var columnHeaders = columns.map(function (column) {
								return " <th>" + column + "</th>";
							});

						// Create the table header
						$("<thead>").appendTo("#hr-attendance");
						$("<tr>").html(columnHeaders).appendTo("#hr-attendance thead");

						// Apply CSS styles to the table header
						$("#hr-attendance thead th").css("font-size", "16px");
							// Iterate over the data and create table rows
							$.each(data, function (index, item) {
								var rowData = columns.map(function (column) {
									return "<td>" + item[column] + "</td>";
								});
								$("<tr>").html(rowData).appendTo("#hr-attendance");
							});
						}



					$("#loadinging").addClass("si si-magnifier");

					// Stop the interval after 3 seconds
					setTimeout(function () {
						$("#loadinging").removeClass("fe fe-refresh-ccw rotation");

						clearInterval();
					}, 2000);


						
				},
				error: function (jqXHR, textStatus, errorThrown) {
					$("#loadinging").addClass("si si-magnifier");
					$("#loadinging").removeClass("fe fe-refresh-ccw rotation");
					console.log(textStatus, errorThrown);
				}
			});



		}



	</script>
	}