
@{
    ViewData["Title"] = "Attentance ByUser";
}

<!--Page header-->
<div class="page-header d-xl-flex d-block">
	<div class="page-leftheader">
		<div class="page-title">Attendance By User</div>
	</div>
	<div class="page-rightheader ms-md-auto">
		<div class="d-flex align-items-end flex-wrap my-auto end-content breadcrumb-end">
			<div class="btn-list">
				<a href="hr-attmark.html" class="btn btn-primary me-3">Mark Attendance</a>
				<button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
				<button class="btn btn-light" data-bs-placement="top" data-bs-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
				<button class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
			</div>
		</div>
	</div>
</div>
<!--End Page header-->
<!-- Row -->
<div class="hrattview-buttons">
	<a asp-for="AttentanceOverView" asp-controller="Attentance" class="active ms-5">Attendance Overview</a>
	<a asp-for="AttentanceByUser" asp-controller="Attentance" class="">Attendance By User</a>
</div>
<div class="row">
	<div class="col-xl-12 col-md-12 col-lg-12">
		<div class="card">
			<div class="card-body">
				<div class="row mb-0 pb-0">
					<div class="col-md-6 col-lg-2 col-sm-6 text-center py-5">
						<span class="avatar avatar-md bradius fs-20 bg-primary-transparent">31</span>
						<h5 class="mb-0 mt-3">Total Working Days</h5>
					</div>
					<div class="col-md-6 col-lg-2 col-sm-6 text-center py-5 ">
						<span class="avatar avatar-md bradius fs-20 bg-success-transparent">24</span>
						<h5 class="mb-0 mt-3">Present Days</h5>
					</div>
					<div class="col-md-6 col-lg-2 col-sm-6 text-center py-5">
						<span class="avatar avatar-md bradius fs-20 bg-danger-transparent">2</span>
						<h5 class="mb-0 mt-3">Absent Days</h5>
					</div>
					<div class="col-md-6 col-lg-2 col-sm-6 text-center py-5">
						<span class="avatar avatar-md bradius fs-20 bg-warning-transparent">0</span>
						<h5 class="mb-0 mt-3">Half Days</h5>
					</div>
					<div class="col-md-6 col-lg-2 col-sm-6 text-center py-5 ">
						<span class="avatar avatar-md bradius fs-20 bg-orange-transparent">2</span>
						<h5 class="mb-0 mt-3">Late Days</h5>
					</div>
					<div class="col-md-6 col-lg-2 col-sm-6 text-center py-5">
						<span class="avatar avatar-md bradius fs-20 bg-pink-transparent">5</span>
						<h5 class="mb-0 mt-3">Holidays</h5>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-md-12 col-lg-5">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="form-label">Employee Name:</label>
									<select id="IdEmployee" name="IdEmployee" class="form-control custom-select select2">
										<option value="">Select Staff</option>
										@foreach (var item in ViewBag.Stafflist)
										{
											<option value="@item.StaffId">@item.FirstName</option>
										}
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="form-label">From:</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="feather feather-calendar"></i>
											</div>
										</div><input id="fromdate" name="fromdate" class="form-control fc-datepicker " type="text">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-lg-5">
						<div class="row">
							<div class="col-md-6">

								<div class="form-group">
									<label class="form-label">To:</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="feather feather-calendar"></i>
											</div>
										</div><input id="todate" name="todate" class="form-control fc-datepicker " type="text">
									</div>
								</div>

							
							</div>
							<div class="col-md-6">
							<div class="form-group mt-5">
								<button class="btn btn-primary" id="searchbtn" data-bs-placement="top" data-bs-toggle="tooltip" title="" data-bs-original-title="Info"> <i class="si si-magnifier"></i> Search </button>

							</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table  table-vcenter text-nowrap table-bordered border-bottom" id="emp-attendance">
						<thead>
							<tr>
								<th class="border-bottom-0">Sr.#</th>

									<th class="border-bottom-0">Date</th>
									<th class="border-bottom-0">Status</th>
									<th class="border-bottom-0">Clock-In</th>
									<th class="border-bottom-0">Clock-Out</th>
									<th class="border-bottom-0">Progress</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Row-->


		

		
@section scripts{

	<script>


		$(document).ready(function () {
			$("#IdEmployee").select2();

			var currentDate = new Date(); // Get the current date
			var firstDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
			var lastDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0);
			$('#fromdate').datepicker({
				//dateFormat: 'dd M yyyy',
				autoHide: true



			});

			$('#fromdate').datepicker('setDate', firstDayOfMonth);

			$('#todate').datepicker({
				// dateFormat: 'dd M yy',
				autoHide: true



			});
			$('#todate').datepicker('setDate', lastDayOfMonth);




			var msg = '@ViewBag.Success';
			if (msg !== "" && msg == '1') {

				notif({
					msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Inserted Succesfully.",
					type: "success"
				});



			}
			if (msg !== "" && msg == '2') {

				notif({
					msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Updated Succesfully.",
					type: "success"
				});



			}
			if (msg !== "" && msg == '3') {
				notif({
					msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Deleted Succesfully.",
					type: "success"
				});

			}
			if (msg !== "" && msg == '0') {
				notif({
					msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> Error Occured.",
					type: "error"
				});



			}


			$('#myTable').DataTable();


			$('#searchbtn').click(function () {
				// Code to be executed when the button is clicked
				LoadAttendance();
			});
		});






		function LoadAttendance() {



			var obj = {
				staffid: $("#IdEmployee").val(),
				fromdate: $("#fromdate").val(),
				todate: $("#todate").val()

			}
			console.log(obj)



			$.ajax({
				url: "/Attentance/GetAttendanceDataCompanyVise",
				type: "GET",
				async: false,
				data: obj,
				success: function (data) {

					if (data != null) {
						console.log(data);
						debugger;
						var table = $('#emp-attendance').DataTable();
						table.clear();
						table.draw();



						for (var i = 0; i < data.length; i++) {

							var rowData = [];


							var Totalhours = Math.floor(parseInt(data[i]["totalDefinedMinutes"]) / 60);
							var TotalremainingMinutes = parseInt(data[i]["totalDefinedMinutes"]) % 60;

							var Emphours = Math.floor(parseInt(data[i]["totalWorkingMinutes"]) / 60);
							var EmpremainingMinutes = parseInt(data[i]["totalWorkingMinutes"]) % 60;




							var percenatge = (parseInt(data[i]["totalWorkingMinutes"]) / parseInt(data[i]["totalDefinedMinutes"])) * 100
							var statusHtml = '<td><span class="badge ' + data[i]["cssClass"] + '">' + data[i]["attendancestatus"] + '</span></td>';
							var progress = '<div class="progress progress-sm d-block"   data-toggle="tooltip" title="' + Totalhours + ':' + TotalremainingMinutes + '"   ><div class="progress-bar bg-success w-' + parseInt(percenatge) + '"   data-toggle="tooltip" title="' + Emphours + ':' + EmpremainingMinutes + '" > </div>	</div>';

							rowData.push([i + 1, data[i]["attendanceFormateDate"], statusHtml, data[i]["firstPunchIn"], data[i]["lastPunchOut"], progress]);


							table.rows.add(rowData);
							table.draw();

						}



					}


				},
				error: function (jqXHR, textStatus, errorThrown) {
					console.log(textStatus, errorThrown);
				}
			});



		}


	</script>
	}