@model IEnumerable<HRHUBAPI.Models.Candidate>




<!-- Row -->
<div class="row row-sm mt-4">

    <div class="col-lg-12">

        <div class="card mt-4">
            <div class="card-header">
                <h3 class="card-title">Candidate Details</h3>
                @if (Convert.ToBoolean(ViewBag.IsNew))
                {
                    <div class="card-options"> <a asp-action="CandidateCreateOrUpdate" asp-controller="Candidate" class="btn btn-primary">Add New</a> </div>
                }
            </div>
                <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap border-bottom" id="myTable">
                        <thead>
                            <tr>
                                
                                <th class="border-bottom-0">Candidate Title</th>
                                <th class="text-center">Status</th>
                                <th class="">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>

                                   
                                    @if (item.Status == true)
                                    {
                                        <td class="text-center"><span class="badge badge-label bg-primary"><i class="mdi mdi-circle-medium"></i> Active</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"> <span class="badge badge-label bg-danger"><i class="mdi mdi-circle-medium"></i> IsActive</span></td>

                                    }


                                    @if (Convert.ToBoolean(ViewBag.IsNew) == false && Convert.ToBoolean(ViewBag.IsEdit) == false && Convert.ToBoolean(ViewBag.IsDelete) == false)
                                    {
                                        <th class="d-none">






                                        </th>
                                    }
                                    else
                                    {
                                        <td class="text-end">
                                            <div class="d-flex">
                                                @if (Convert.ToBoolean(ViewBag.IsEdit))
                                                {
                                                    <a asp-action="CandidateCreateOrUpdate" asp-route-id="@item.CandidateId" class="action-btns1" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Edit" aria-label="Edit">
                                                        <i class="feather feather-edit primary text-primary">
                                                        </i>
                                                    </a>
                                                } @if (Convert.ToBoolean(ViewBag.IsDelete))
                                                {
                                                    <a asp-action="CandidateDelete" asp-route-id="@item.CandidateId" onclick="return confirm('Are you sure you want to delete')" class="action-btns1" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Delete" aria-label="Delete">
                                                        <i class="feather feather-trash-2 text-danger"></i>
                                                    </a>
                                                }
                                            </div>

                                        </td>
                                    }



                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Row -->








@section scripts{

    <script>
        $(document).ready( function () {

            var msg = '@ViewBag.Success';
            if (msg !== "" && msg == '1') {

                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Inserted Succesfully.",
                    type: "success"
                });



            }
            if (msg !== "" && msg == '2') {

                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Updated Succesfully.",
                    type: "success"
                });



            }
            if (msg !== "" && msg == '3') {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Deleted Succesfully.",
                    type: "success"
                });

            }
            if (msg !== "" && msg == '0') {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> Error Occured.",
                    type: "error"
                });



            }
            $('#myTable').DataTable();
        });

    </script>

}
