@model HRHUBAPI.Models.Company

@{
    ViewData["Title"] = "SMTPSettings";
}

<div class="side-app main-container py-0">

    <!--Page header-->
    <div class="page-header mt-0 mb-2 d-xl-flex d-block">
        <div class="page-leftheader">
            <div class="page-title">SMTP Settings</div>
        </div>
        <div class="page-rightheader ms-md-auto">
            <div class="d-flex align-items-end flex-wrap my-auto end-content breadcrumb-end">
                <div class="btn-list">
                    <button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
                    <button class="btn btn-light" data-bs-placement="top" data-bs-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
                    <button class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
                </div>
            </div>
        </div>
    </div>
    <!--End Page header-->
    <!-- Row -->
    <div class="row">
        <div class="col-md-12 col-xl-3">
            <div class="card">
                <div class="nav flex-column admisetting-tabs" id="settings-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" data-bs-toggle="pill" href="#tab-1" role="tab">
                        <i class="fa fa-clock-o me-2 fs-16 "></i>Settings
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-9">
            <div class="tab-content adminsetting-content" id="setting-tabContent">

                <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
                    <div class="card">
                        <div class="card-header  border-0">
                            <h4 class="card-title">SMTP Setting</h4>
                        </div>
                        <div class="card-body pt-2">
                            <input type="hidden" asp-for="CompanyId" />
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="form-label">Email</label>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input class="form-control" asp-for="EmailSendFrom" type="email">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="form-label">Password</label>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input class="form-control" asp-for="EmailPassword" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="form-label">SMTP Port</label>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input class="form-control" asp-for="EmailSmtpport" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="form-label">Server Host</label>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input class="form-control" asp-for="EmailServerHost" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <a href="javascript:void(0);" class="btn btn-success btn_Save">Save Changes</a>
                            <a href="javascript:void(0);" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->
@section scripts{

    <script>

        $(document).ready(function () {

            var msg = '@ViewBag.Success';
            if (msg !== "" && msg == '1') {

                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Inserted Succesfully.",
                    type: "success"
                });



            }
            if (msg !== "" && msg == '2') {

                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Updated Succesfully.",
                    type: "success"
                });



            }
            if (msg !== "" && msg == '3') {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Deleted Succesfully.",
                    type: "success"
                });

            }
            if (msg !== "" && msg == '0') {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> Error Occured.",
                    type: "error"
                });



            }

        })

        $('.btn_Save').on('click', function () {
            debugger;
            var status = true;
            if ($("#EmailSendFrom").val() == "") {
                $.growl.warning({
                    message: "Please Enter Email"
                });
                $("#EmailSendFrom").css("border-color", "red");
                status = false;
                return false;
            }
            else if ($("#EmailPassword").val() == "") {
                $.growl.warning({
                    message: "Please Select Password"
                });
                $("#EmailPassword").css("border-color", "red");
                status = false;
                return false;
            }
            else if ($("#EmailSmtpport").val() == "") {
                $.growl.warning({
                    message: "Enter Late Port"
                });
                $("#EmailSmtpport").css("border-color", "red");
                status = false;
                return false;
            }
            else if ($("#EmailServerHost").val() == "") {
                $.growl.warning({
                    message: "Enter Server Host"
                });
                $("#EmailServerHost").css("border-color", "red");
                status = false;
                return false;
            }
            else {
                $("#EmailSendFrom").css("border-color", "#ddd");
                $("#EmailPassword").css("border-color", "#ddd");
                $("#EmailSmtpport").css("border-color", "#ddd");
                $("#EmailServerHost").css("border-color", "#ddd");
            }
            var Data = {
                EmailSendFrom: $('#EmailSendFrom').val(),
                EmailPassword: $('#EmailPassword').val(),
                EmailSmtpport: $('#EmailSmtpport').val(),
                EmailServerHost: $('#EmailServerHost').val(),
                CompanyId: $('#CompanyId').val()
            }

            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: 'No, cancel!',
                confirmButtonText: 'Yes, Save it!',
                timer: 30000,
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        async: false,
                        url: "/Setting/SaveSMTPSetting",
                        type: "Post",
                        data: Data,
                        success: function (data) {
                            if (data != "") {
                                debugger
                                //var b = JSON.parse(data)
                                if (data.success) {

                                    //window.location.href =  window.location.href;
                                    var url = '@Url.Action("SMTPSettings", "Setting",new { data = 2 })';
                                    window.location.href = url;
                                    status = false;
                                }
                            }
                        },
                        error: function () {
                            status = false;
                            //   toastr.error("Please Fill Required Field");
                        }
                    })
                }
                else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your record is safe :)',
                        'error'
                    )
                }
            });



        })

    </script>


	}


